*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color:#fdfdfdff;
    color: #080808;
}


/*---------------Header-----------------*/
#header{
    background: #ffffff;

}
.header-container{
    padding: 0.1px 0px;

}


.nav{
    font-weight: bold;
    font-size: 16px;
    background: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 3;
    box-shadow:  0 0 5px #262626;
}

.nav .logo{
    padding-left: 50px;
    width: 200px;
}

nav:after{
    content: '';
    clear: both;
    display: table;
}


.nav-links{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;

}

.nav-links li{
    float: left;
    display: inline-block;
    margin: 0px 50px;

}


.nav-links li a{
    position: relative;
    color: #2B398D;
    text-decoration: none;
    line-height: 70px;
    padding-bottom: 8px;
    text-transform: uppercase;

}

.nav-links li a:before{
    content: '';
    width: 0%;
    height: 3px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #080808;
    position: absolute;
    transition: all 0.4s ease;
}

.nav-links li a:hover:before{
    width: 100%;
}

.angleDown{
    display: none;
    color:  #492d88ff;
    font-size: 30px;
    cursor: pointer;
}


.nav-bar{
    color: #492d88ff;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}



.services-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background: #ffffff;
    border-radius: 5px;
    border-top:3px solid #4644AA;
    z-index: 1;
}

.nav-links li:hover .services-menu{
    opacity: 1;
    visibility: visible;
}


.services-links li{

    position: relative;
    list-style: none;
    margin: 0px;
    width: 300px;
    float: none;
    display: list-item;
    transition: 0.3s ease;
}

.services-links li:hover{
    padding-left: 8px;
    color: #4644AA;
}

.services-links li a{
    color: #080808;
    padding: 8px 15px;
    transition: 0.2s ease;
}

.services-links li a:before{
    background: none;

}
.services-links li a:hover{
    color: #4644AA;
    border-radius: 5px;
    box-shadow: 0 0 5px #4644AA, 0 0 5px #262626;
}

@media (max-width: 1090px) {
    .nav .logo{
        font-size: 32px;
        padding-left: 60px;
    }

    .nav-links {
        margin-right: 20px;
    }

    .nav-links li a{
        font-size: 15px;
    }



}

@media (max-width: 1020px) {
    .nav-bar{
        display: block;
    }

    .nav-links{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 60px;
        left:-100%;
        background-color: white;
    }

    .nav-links.active{
        left: 0;
        z-index: 1;
        height: 300px;
    }


    .nav-links li {
        display: block;
        float: none;
        margin: 0;
        line-height: 30px;

    }

    .nav-links li a{
        font-size: 20px;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .service-error{
        padding-right: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-links li a:hover:before{
        display: none;
    }


    .angleDown{
        display: block;
    }


    .services-links{
        position: fixed;
        width: 100%;
        height: 100vh;
        left:-100%;
        background-color: white;
    }

    .services-links li{
        list-style: none;
        margin: 0px;
        width: 100%;
        float: none;
        transition: 0.3s ease;
    }

    .services-links li a:hover{
        border:none;
        box-shadow: none;
    }


    .services-links.active{
        left: 0;
        height: 330px;
    }



}

/*------Header-End-----------*/

/*------------------First-Image-------------------*/

.Main-Header{
    margin-top:  50px;
    width: 100%;

}

.img-header{
    width:300px;
}





/*----------------------Who We Are -Start----------------------*/
.WHO-WE-ARE{
    margin-top: 50px;
}

.WHO-WE-ARE{
    margin-top: 50px;
    padding-bottom: 20px;
}

.WHO-WE-ARE h1{
    text-align: center;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 2px;
    font-size: 30px;
    color: #4644AA;

}

.WHO-WE-ARE p{
    color: #080808;
    width: 50%;
    text-align: center;
    margin: 20px 25%;
    display: block;

}
/*----------------------Who We Are-End----------------------*/

/*----------------------Our Mission-Start----------------------*/
.Our-Mission{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Our-Mission .Our-Mission-Container{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.OUR-Mission-IMG{
    height: auto;
    width: 400px;
    max-width: 100%;
}

.Mission-Text{
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
    background-color: #f1f1f1ff;
}

.Our-Mission .Mission-Text h2{
    color: #4644AA;
    margin-bottom: 20px;
    font-size: 40px;
    text-transform: capitalize;
    font-weight: bold;
}

.Our-Mission .Mission-Text p{
    color: #080808;
    font-size: 30px;
    letter-spacing: 1px;
}

/*----------------------Our Mission-End----------------------*/

/*----------------------Our Vision--Start----------------------*/
.Our-Vision{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Our-Vision .Our-Vision-Container{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.OUR-Vision-IMG{
    height: auto;
    width: 400px;
    max-width: 100%;
}

.Vision-Text{
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
    background-color: #f1f1f1ff;
}

.Our-Vision .Vision-Text h2{
    color: #4644AA;
    margin-bottom: 20px;
    font-size: 40px;
    text-transform: capitalize;
    font-weight: bold;
}

.Our-Vision .Vision-Text p{
    color: #080808;
    font-size: 30px;
    letter-spacing: 1px;

}
@media screen and (max-width: 1180px) {
    .Our-Vision {
        width: 100%;
        height: auto;
        padding: 50px 0px;
    }
    .Our-Mission {
        width: 100%;
        height: auto;
        padding: 50px 0px;
    }

}

@media screen and (max-width: 999px) {

    .Our-Mission-Container{
        flex-direction: column-reverse;
    }

}

@media screen and (max-width: 650px) {
    .OUR-Mission-IMG{
        margin-bottom: 35px;
    }
    .Our-Vision-IMG{
        margin-bottom: 35px;
    }

    .Vision-Text h2{
        font-size: 60px;
        margin-bottom: 25px;
    }

    .Mission-Text h2{
        font-size: 60px;
        margin-bottom: 25px;
    }
}
/*----------------------Our Core Values-Start------------------------*/
.Our-Core-Values{
    text-align: center;
    margin: 50px 0;
    color: #080808;
}

.Our-Core-Values h1{
    font-weight: bold;
    letter-spacing: 2px;
    color: #4644AA;
    padding-bottom: 20px;
}

.Our-Core-Values-Container {
    display: flex;
    flex-wrap: wrap;
}

.Our-Core-Values-Content {
    padding: 1em;

}
.card {
    padding: 3.1em 1.25em;
    text-align: center;
    background: linear-gradient(0deg, #4644AA 10px, transparent 10px);
    background-repeat: no-repeat;
    background-position: 0 0.62em;
    box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.15);
    border-radius: 0.5em;
    transition: 0.5s;
    cursor: pointer;
}
.card .icon {
    font-size: 2.5em;
    height: 2em;
    width: 2em;
    margin: auto;
    background-color: #4644AA;
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: #ffffff;
}
.icon:before {
    position: absolute;
    content: "";
    height: 1.5em;
    width: 1.5em;
    border: 0.12em solid #4644AA;
    border-radius: 50%;
    transition: 0.5s;
}
.card h3 {
    font-size: 1.3em;
    margin: 1em 0 1.4em 0;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: #4644AA;
}
.card p {
    line-height: 2em;
    color: #625a71;
}
.card:hover {
    background-position: 0;
}
.card:hover .icon:before {
    height: 2.25em;
    width: 2.25em;
}
@media screen and (min-width: 768px) {
    .Our-Core-Values {
        padding: 1em 7em;
    }
}
@media screen and (min-width: 992px) {
    .Our-Core-Values {
        padding: 1em;
    }
    .card {
        padding: 5em 2em;
    }
    .Our-Core-Values-Content {
        flex: 0 0 25%;
    }
}


/*----------------------Our Core Values-End------------------------*/

/*----------------------Our Team-Start------------------------*/
.Our-Team{
    text-align: center;
    margin: 50px 0;
    color: #080808;
}

.Our-Team h1{
    font-weight: bold;
    letter-spacing: 2px;
    color: #4644AA;
    padding-bottom: 10px;
}

.Our-Team-Container{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4644AA;
    flex-wrap: wrap;
}
.Team-Member{
    position: relative;
    width: 220px;
    height: 220px;
    background: #fff;
    padding: 30px;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
    margin: 0 70px;
}
.Team-Member:hover{
    border-radius: 10px;
    height: 260px;
}
.Team-Member .img{
    position: relative;
    width: 100%;
    height: 100%;
    transition: .6s;
    z-index: 99;
}
.Team-Member:hover .img{
    transform: translateY(-60px);
}
.img img{
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
}
.Team-Member:hover img{
    border-radius: 10px;
}
.caption{
    text-align: center;
    transform: translateY(-80px);
    opacity: 0;
    transition: .6s;
}
.Team-Member:hover .caption{
    opacity: 1;
}
.caption h3{
    font-size: 21px;
}
.caption p{
    font-size: 16px;
    color: #4644AA;
    margin: 2px 0 9px 0;
}
.caption .social-links a{
    color: #333;
    margin-right: 8px;
    font-size: 21px;
    transition: .6s;
}
.social-links a:hover{
    color: #4644AA;
}

@media (max-width: 1439px) {
    .Our-Team-Container{
        height: 100vh;
    }
}

@media (max-width: 719px) {
    .Our-Team-Container{
        height: 200vh;
    }
}

/*----------------------Our Team-End------------------------*/


/*----------------------Footer------------------------*/
.footer{
    font-size: 80%;
    background: #1a1c27ff;
    height: auto;
    padding:03px 0 ;
    margin-bottom: 0px;
}
.footer-container{
    max-width: 2000px;
    margin: 50px;
}


.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
}



.footer-container ul{
    list-style: none;
    line-height: 2;
}

.Details ul li {
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    color:  #bbbbbb;
    display: block;
    transition: all 0.1s ease;
}

.Details ul li:hover{
    color: #ffffff;
}

.Details ul li i{
    margin-right: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    color:  #bbbbbb;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #ffffff;

}

.footer-col .social-icons a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 20px 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-icons a:hover{
    color: #4644AA;
    background-color: #ffffff;
}

.footer-logo{
    width:100px;
    background-color: #ffffff;
    border-radius: 15px;
}

#footer-email{
    width: 250px;
    height: 40px;
    border-radius: 5px;
}

#footer-submit{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    background-color: #4644AA;
    cursor: pointer;
}
#footer-submit:hover{
    background-color: #ffffff;
    color: #4644AA;
}

.Gratitude{
    margin-top: 20px;
    color: #ffffff;
}

#footer-paragraph{
    margin-top: 30px;
    color: #bbbbbb;
    font-size: 16px;
}

#footer-paragraph:hover{
    color: #ffffff;
}

.copyright{
    text-align: center;
    margin-top: 50px;
    padding: 0;
    color: #ffffff;
}


/*--------footer-responsive---------*/
@media (max-width: 1555px) {

    #footer-email{
        width: 150px;
    }
}

@media (max-width: 1155px) {

    #footer-submit{
        width: 60px;
    }
}

@media (max-width: 1077px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }

    #footer-email{
        width: 200px;
    }
    #footer-submit{
        width: 80px;
    }
}

@media (max-width: 727px) {

    #footer-submit{
        width: 60px;
    }
}

@media (max-width: 687px) {
    #footer-email{
        width: 150px;
    }
}

@media (max-width: 574px) {
    .footer-col{
        width: 100%;
    }

    #footer-email{
        width: 200px;
    }

    #footer-submit{
        width: 80px;
    }
}

/*-----------------Scroll-Up-Stat----------------*/
#Scroll-Up{
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
#Scroll-Up-value {
    display: block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #4644AA;
}

/*-----------------Scroll-Up-End----------------*/