*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background: #fdfdfdff;
    color: #fff;
}


/*---------------Header-Start----------------*/
#header{
    background: #ffffff;
}
.header-container{
    padding: 05px;
}


.nav{
    font-weight: bold;
    font-size: 16px;
    background: #ffffff;
}

.nav .logo{
    padding-left: 50px;
    width: 200px;
}

nav:after{
    content: '';
    clear: both;
    display: table;
}


.nav-links{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;

}

.nav-links li{
    float: left;
    display: inline-block;
    margin: 0px 50px;
}

.nav-links li a{
    color: #0a3264ff;
    text-decoration: none;
    line-height: 70px;
    padding: 8px 15px;

}

.nav-links li a:hover{
    color: #0a3264ff;

}


.services-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background: #ffffff;
    border-radius: 5px;
}

.nav-links li:hover .services-menu{
    opacity: 1;
    visibility: visible;
}


.services-links li{
    position: relative;
    list-style: none;
    margin: 0px;
    width: 300px;
    float: none;
    display: list-item;
    transition: 0.3s ease;
}

.services-links li:hover{
    padding-left: 8px;
    color: #0a3264ff;
}

.services-links li a{
    color: #080808;
    transition: 0.2s ease;
}

.services-links li a:hover{
    border-radius: 5px;
    box-shadow: 0 0 5px #0a3264ff, 0 0 5px #262626;
}

/*----------------------Header-End------------------------*/

/*----------------------Who We Are -Start----------------------*/
.WHO-WE-ARE{
    margin-top: 50px;
}

.WHO-WE-ARE h1{
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    color: #0a3264ff;

}

.WHO-WE-ARE p{
    color: #080808;
    margin: 30px 250px;
    text-align: center;
}

/*----------------------Who We Are-End----------------------*/

/*----------------------Our Mission-Start----------------------*/
.Our-Mission{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 65%;
    margin: 10rem auto 0 auto;

}

.OUR-Mission-IMG{
    height: 300px;
}
.Our-Mission .Mission-Text h2{
    margin: 0;
    color: #0a3264ff;
    padding-bottom: 10px;
}

.Our-Mission .Mission-Text p{
    color: #080808;
    margin-right: 15px;
}
/*----------------------Our Mission-End----------------------*/

/*----------------------Our Vision--End----------------------*/
.OUR-Vision{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 65%;
    margin: 10rem auto 0 auto;

}

.OUR-Vision-IMG{
    height: 300px;
}

.OUR-Vision .Vision-Text h2{
    margin: 0;
    color: #0a3264ff;
    padding-bottom: 10px;
    text-align: right;
}

.OUR-Vision .Vision-Text p{
    color: #080808;
    margin-left: 15px;
}

/*----------------------Our Core Values-Start------------------------*/
.Our-Core-Values{
    text-align: center;
    margin: 50px 0;
    color: #080808;
}

.Our-Core-Values h1{
    font-weight: bold;
    letter-spacing: 2px;
    color: #0a3264ff;
    padding-bottom: 20px;
}

.Our-Core-Values-Container {
    display: flex;
    flex-wrap: wrap;
}

.Our-Core-Values-Content {
    padding: 1em;

}
.card {
    padding: 3.1em 1.25em;
    text-align: center;
    background: linear-gradient(0deg, #397ef6 10px, transparent 10px);
    background-repeat: no-repeat;
    background-position: 0 0.62em;
    box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.15);
    border-radius: 0.5em;
    transition: 0.5s;
    cursor: pointer;
}
.card .icon {
    font-size: 2.5em;
    height: 2em;
    width: 2em;
    margin: auto;
    background-color: #397ef6;
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: #ffffff;
}
.icon:before {
    position: absolute;
    content: "";
    height: 1.5em;
    width: 1.5em;
    border: 0.12em solid #397ef6;
    border-radius: 50%;
    transition: 0.5s;
}
.card h3 {
    font-size: 1.3em;
    margin: 1em 0 1.4em 0;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: #070024;
}
.card p {
    line-height: 2em;
    color: #625a71;
}
.card:hover {
    background-position: 0;
}
.card:hover .icon:before {
    height: 2.25em;
    width: 2.25em;
}
@media screen and (min-width: 768px) {
    .Our-Core-Values {
        padding: 1em 7em;
    }
}
@media screen and (min-width: 992px) {
    .Our-Core-Values {
        padding: 1em;
    }
    .card {
        padding: 5em 2em;
    }
    .Our-Core-Values-Content {
        flex: 0 0 25%;
    }
}


/*----------------------Our Core Values-End------------------------*/

/*----------------------Our Team-Start------------------------*/
.Our-Team{
    text-align: center;
    margin: 50px 0;
    color: #080808;
}

.Our-Team h1{
    font-weight: bold;
    letter-spacing: 2px;
    color: #0a3264ff;
    padding-bottom: 10px;
}

.Our-Team-Container{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a3264ff;
}
.Team-Member{
    position: relative;
    width: 220px;
    height: 220px;
    background: #fff;
    padding: 30px;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
    margin: 0 70px;
}
.Team-Member:hover{
    border-radius: 10px;
    height: 260px;
}
.Team-Member .img{
    position: relative;
    width: 100%;
    height: 100%;
    transition: .6s;
    z-index: 99;
}
.Team-Member:hover .img{
    transform: translateY(-60px);
}
.img img{
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .6s;
}
.Team-Member:hover img{
    border-radius: 10px;
}
.caption{
    text-align: center;
    transform: translateY(-80px);
    opacity: 0;
    transition: .6s;
}
.Team-Member:hover .caption{
    opacity: 1;
}
.caption h3{
    font-size: 21px;
}
.caption p{
    font-size: 16px;
    color: #0c52a1;
    margin: 2px 0 9px 0;
}
.caption .social-links a{
    color: #333;
    margin-right: 8px;
    font-size: 21px;
    transition: .6s;
}
.social-links a:hover{
    color: #0c52a1;
}

/*----------------------Our Team-End------------------------*/



/*----------------------Footer-Start-----------------------*/
.footer{
    font-size: 80%;
    background: #262626;
    height: auto;
    color: white;
    padding:03px 0 ;
    margin-bottom: 0px;
}
.footer-container{
    max-width: 2000px;
    margin: 50px;
}


.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
}

.footer-container ul{
    list-style: none;
    line-height: 2;
}

.Details ul li {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.1s ease;
}

.Details ul li:hover{
    color: #ffffff;
}

.Details ul li i{
    margin-right: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #ffffff;

}

.footer-col .social-icons a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-icons a:hover{
    color: #0a3264ff;
    background-color: #ffffff;
}

.footer-logo{
    width:100px;
}

#footer-email{
    width: 250px;
    height: 40px;
    border-radius: 5px;
}

#footer-submit{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    background-color: #0a3264ff;
}
#footer-submit:hover{
    background-color: #ffffff;
    color: #0a3264ff;
}

#footer-paragraph{
    margin-top: 30px;
    color: #bbbbbb;
    font-size: 16px;
}

#footer-paragraph:hover{
    color: #ffffff;
}

.copyright{
    text-align: center;
    margin-top: 50px;
    padding: 0;
    color: #ffffff;
    color: #bbbbbb;
}

.copyright:hover {
    color: #ffffff;
}

/*--------footer-responsive---------*/
@media (max-width: 767px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }

    #footer-email{
        width: 200px;
    }
}

@media (max-width: 574px) {
    .footer-col{
        width: 100%;
    }

    #footer-email{
        width: 200px;
    }
}