*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    font-family:"Poppins", sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}


body {
    background: #fdfdfdff;
    color:  #414042;
    font-size: 1rem;
}


/*---------------Header-----------------*/
#header{
    background: #ffffff;
}
.header_container{
    padding: 0.1px 0;

}

/* -----------------Nav-Section-------------*/
.nav{
    font-weight: bold;
    font-size: 16px;
    position: fixed;
    width: 100%;
    z-index: 99;

}

.nav.sticky{
    background: #FFFFFF;
    box-shadow:  0 0 5px #262626;
    z-index: 99;
}


.nav.sticky .nav_links li a{
    color: #4644AA;
}

.nav.sticky .services_links li a{
    color: #414042;
}

.nav.sticky .services_links li a:hover{
    color: #4644AA;
}

.nav.sticky .nav_bar{
    color: #4644AA;
}


.nav .logo{
    padding-left: 50px;
    width: 200px;
}


nav:after{
    content: '';
    clear: both;
    display: table;
}


.nav_links{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;

}

.nav_links li{
    float: left;
    display: inline-block;
    margin: 0 50px;

}


.nav_links li a{
    position: relative;
    color: #FFFFFF;
    line-height: 70px;
    padding-bottom: 8px;
    text-transform: uppercase;
}

.nav_links li a:before{
    content: '';
    width: 0%;
    height: 3px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #080808;
    position: absolute;
    transition: all 0.4s ease;
}

.nav_links li a:hover:before{
    width: 100%;
}
.angleDown{
    display: none;
    color:  #4644AA;
    font-size: 30px;
    cursor: pointer;
}


.nav_bar{
    color: #FFFFFF;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}



.services_menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background: #ffffff;
    border-radius: 5px;
    border-top:3px solid #4644AA;
    z-index: 99;
}

.nav_links li:hover .services_menu{
    opacity: 1;
    visibility: visible;
}


.services_links li{
    position: relative;
    margin: 0;
    width: 300px;
    float: none;
    display: list-item;
    transition: 0.3s ease;
    cursor: pointer;
}

.services_links li:hover{
    padding-left: 8px;
    color: #4644AA;
}

.services_links li:before{
    content: '';
    width: 4px;
    height: 0;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: #4644AA;
    position: absolute;
    transition: all 0.5s ease;

}

.services_links li:hover:before{
    display: block;
    height: 40px;
}

.services_links li a {
    text-transform: capitalize;
    color: #414042;
    padding-left: 15px;
}

.services_links li a:before{
    background: none;
}

.services_links li a:hover{
    color: #4644AA;
}

@media (max-width: 1090px) {
    .nav .logo{
        font-size: 32px;
        padding-left: 60px;
    }


    .nav_links {
        margin-right: 20px;
        color: #4644AA;
    }





}

@media (max-width: 1020px) {
    .nav_bar{
        display: block;
    }

    .nav_links{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 60px;
        left:-100%;
        background-color: white;
    }

    .nav_links.active{
        left: 0;
        z-index: 1;
        height: 300px;
    }


    .nav_links li {
        display: block;
        float: none;
        margin: 0;
        line-height: 30px;

    }

    .nav_links li a{
        font-size: 20px;
        color: #4644AA;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .service_error{
        padding-right: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav_links li a:hover:before{
        display: none;
    }


    .angleDown{
        display: block;
    }


    .services_links{
        position: fixed;
        width: 100%;
        height: 100vh;
        left:-100%;
        background-color: white;
    }

    .services_links li{
        list-style: none;
        margin: 0;
        width: 100%;
        float: none;
        transition: 0.3s ease;
    }
    .services_links li a{
        color: #414042;
    }

    .services_links li a:hover{
        color: #4644AA;
        border:none;
        box-shadow: none;
    }


    .services_links.active{
        left: 0;
        height: 330px;
    }


}
/*------Header-End-----------*/

/*----------------Slider--start------------------------------*/
.slider {
    margin: 0 auto auto auto;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

.slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    transition: 2s ease;
}

.slide {
    width: 33.33%;
    height: 100%;
    float: left;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}


.slide::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}

.slide-data {
    width: 100%;
    position: absolute;
    top: 50%;
    color: #fff;
    text-align: center;
    transform: translateY(-50%);
    padding: 0 20%;
}

.slide-data h1 {
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 3.5rem;
    margin-bottom: 10px;
}

.slide-data p {
    font-size: 18px;
    margin-bottom: 30px;
}

.slide-data button {
    padding: 10px 25px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    background: transparent;
    outline: none;
    font-size: 25px;
    font-weight: bolder;
}

.slide-data button:hover {
    color: #000;
    background-color: #fff;
}

.slide-1{
    background-image: url("image/Slide1.jpg");
    animation: zoom 14s linear infinite;
}
@keyframes zoom {
    0%{
        transform: scale(1.3);
    }
    15%{
        transform: scale(1);
    }
    85%{
        transform: scale(1);
    }
    100%{
        transform: scale(1);
    }


}

.slide-2{
    background-image: url("image/Slide2.png");
}



.slide-3{
    background-image: url("image/Slide3.png");

}

.slider .arrows {
    display: flex;
    position: absolute;
    top: 50%;
    color: #fff;
    transition: 0.4s;
}

.slider .arrows:hover {
    transform: scale(1.3);

}

.slider .arrows label {
    display: none;
    cursor: pointer;
}

.slider .arrow-left {
    left: 3%;
    font-size: 60px;
}

.slider .arrow-right {
    right: 3%;
    font-size: 60px;
}

.slider input{
    display: none;
}

.slider input:nth-child(1):checked ~ .slides {
    left: 0;
}

.slider input:nth-child(2):checked ~ .slides {
    left: -100%;
}

.slider input:nth-child(3):checked ~ .slides {
    left: -200%;
}

.slider input:nth-child(1):checked ~ .arrows label:nth-child(1),
.slider input:nth-child(2):checked ~ .arrows label:nth-child(2),
.slider input:nth-child(3):checked ~ .arrows label:nth-child(3) {
    display: block;
}

.slider .dots {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 15px;
}

.slider .dots label {
    display: inline-block;
    border-radius: 100%;
    margin: 0 6px;
    width: 18px;
    height: 18px;
    background-color: #fff;
    cursor: pointer;
}

.slider input:nth-child(1):checked ~ .dots label:nth-child(1),
.slider input:nth-child(2):checked ~ .dots label:nth-child(2),
.slider input:nth-child(3):checked ~ .dots label:nth-child(3) {

}
.dot-active {
    background-color: #2B398D !important;
    border: 2px solid #fff;

}


/*----------------------Slider-End----------------------*/

/*----------------------Who We Are -Start----------------------*/

.WHO-WE-ARE {
    width: 100%;
    margin: 30px 0 auto;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.WHO-WE-ARE-Container{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.WHO-WE-ARE-text{
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
}
.WHO-WE-ARE-text h1{
    color: #4644AA;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 3.5rem;
    text-transform: capitalize;
}

.WHO-WE-ARE-text p{
    margin-top: 25px;
}

.WHO-WE-ARE img{
    width: 400px;
}
.WHO-WE-ARE a {
    width: 170px;
    height: 40px;
    display: flex;
    margin-top: 20px;
    text-decoration:none;
}


.WHO-WE-ARE button{
    background-color: #4644AA;
    color: #ffffff;
    border: 2px solid transparent;
    border-radius: 6px;
    width: 200px;
    font-size: 20px;
}

.WHO-WE-ARE button:hover{
    background-color: transparent;
    border: 2px solid #4644AA;
    color: #4644AA;
    transition: 0.4s;
    cursor: pointer;
}


@media screen and (max-width: 1380px) {

    .WHO-WE-ARE  {
        width: 100%;
        height: auto;
        padding: 70px 0;

    }

    .WHO-WE-ARE  img{
        margin-bottom: 20px;

    }

}
@media screen and (max-width: 1010px) {

    .WHO-WE-ARE-Container {
        flex-direction: column-reverse;
    }

    .WHO-WE-ARE  {
        width: 100%;
        height: auto;

    }

    .WHO-WE-ARE-text h3{
        font-size: 50px;
    }

    .WHO-WE-ARE-text{
        width: 450px;
        max-width: 100%;
        padding: 0 10px;
    }

}

@media screen and (max-width: 650px) {
    .WHO-WE-ARE  img{
        width: 450px;

    }


    .WHO-WE-ARE-text h3 {
        font-size: 40px;
        margin-bottom: 25px;
    }

}

@media screen and (max-width: 550px) {
    .WHO-WE-ARE img{
        width: 350px;

    }



}

/*----------------------Who We Are -End----------------------*/

/*----------------------Our Services -Start----------------------*/
.our_service{
  margin-top: 20px;
}

.our_service h1{
    text-align: center;
    font-weight: bold;
    color: #4644AA;
    font-size: 3.5rem;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;

}

.our_service h1:after{
    content: "";
    position: absolute;
    left: 25%;
    bottom: 0;
    width: 7%;
    margin-left:21%;
    border: 2px solid #58595B;
}

.OUR-SERVICES-IMG{
    height: auto;
    width: 400px;
    max-width: 100%;
}

/*----------------------Web-Section----------------------*/
.Web-Section{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1ff;
}

.Web-Section .Web-Section-Container{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.Web-Section-Container .Web-Section-Text {
    width: 550px;
    max-width: 100%;
    padding: 0 10px;

}
 .Web-Section-Text h2{
    color: #4644AA;
    margin-bottom: 5px;
    font-size: 2.5rem;
    text-transform: capitalize;
    font-weight: bold;
    text-align: left;
}

.Web-Section-Text p{
    margin-bottom: 45px;
}

.Web-Section-Text a {
    width: 170px;
    height: 40px;
    display: flex;
    margin-top: 20px;
    text-decoration:none;
}

 .Web-Section-Text button{
     background-color: #4644AA;
     color: #ffffff;
     border: 2px solid transparent;
     border-radius: 6px;
     width: 200px;
     font-size: 20px;
}

 .Web-Section-Text button:hover{
    background-color: transparent;
    border: 2px solid #4644AA;
    color: #4644AA;
    transition: 0.4s;
    cursor: pointer;
}


/*----------------------App-Section----------------------*/
.App-Section{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App-Section .App-Section-Container{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.App-Section .App-Section-Container .App-Section-Text {
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
}
.App-Section .App-Section-Container .App-Section-Text h2{
    color: #4644AA;
   margin-bottom: 5px;
    font-size: 2.5rem;
    text-transform: capitalize;
    font-weight: bold;
    text-align: left;
}

.App-Section .App-Section-Container .App-Section-Text p{
    margin-bottom: 45px;
}

.App-Section-Text a {
    width: 170px;
    height: 40px;
    display: flex;
    margin-top: 20px;
}

.App-Section-Text button{
    background-color: #4644AA;
    color: #ffffff;
    border: 2px solid transparent;
    border-radius: 6px;
    width: 200px;
    font-size: 20px;
}

.App-Section-Text button:hover{
    background-color: transparent;
    border: 2px solid #4644AA;
    color: #4644AA;
    transition: 0.4s;
    cursor: pointer;
}



/*----------------------RPA-Section----------------------*/
.RPA-Section{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1ff;

}

.RPA-Section .RPA-Section-Container{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.RPA-Section .RPA-Section-Container .RPA-Section-Text {
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
}
.RPA-Section .RPA-Section-Container .RPA-Section-Text h2{
    color: #4644AA;
    margin-bottom: 5px;
    font-size: 2.5rem;
    text-transform: capitalize;
    font-weight: bold;
    text-align: left;
}

.RPA-Section .RPA-Section-Container .RPA-Section-Text p{
    margin-bottom: 45px;
}

.RPA-Section-Text a {
    width: 170px;
    height: 40px;
    display: flex;
    margin-top: 20px;
    text-decoration:none;
}

.RPA-Section-Text button{
    background-color: #4644AA;
    color: #ffffff;
    border: 2px solid transparent;
    border-radius: 6px;
    width: 200px;
    font-size: 20px;
}

.RPA-Section-Text button:hover{
    background-color: transparent;
    border: 2px solid #4644AA;
    color: #4644AA;
    transition: 0.4s;
    cursor: pointer;
}

/*----------------------Graphic Design-Section----------------------*/
.Graphic-DesignSection{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.Graphic-Design-Section .Graphic-Section-Container{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.Graphic-Design-Section .Graphic-Section-Container .Graphic-Section-Text {
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
}
.Graphic-Design-Section .Graphic-Section-Container .Graphic-Section-Text h2{
    color: #4644AA;
    margin-bottom: 5px;
    font-size: 2.5rem;
    text-transform: capitalize;
    font-weight: bold;
    text-align: left;
}

.Graphic-Design-Section .Graphic-Section-Container .Graphic-Section-Text p{
    margin-bottom: 45px;

}

.Graphic-Section-Text a {
    width: 170px;
    height: 40px;
    display: flex;
    margin-top: 20px;
    text-decoration:none;
}

.Graphic-Section-Text button{
    background-color: #4644AA;
    color: #ffffff;
    border: 2px solid transparent;
    border-radius: 6px;
    width: 200px;
    font-size: 20px;
}

.Graphic-Section-Text button:hover{
    background-color: transparent;
    border: 2px solid #4644AA;
    color: #4644AA;
    transition: 0.4s;
    cursor: pointer;
}

@media screen and (max-width: 1180px) {
    .Web-Section{
        width: 100%;
        height: auto;
        padding: 30px 0px;
    }
    .App-Section{
        width: 100%;
        height: auto;
        padding: 30px 0px;

    }
    .RPA-Section{
        width: 100%;
        height: auto;
        padding: 30px 0px;

    }

    .Graphic-Design-Section{
        width: 100%;
        height: auto;
        padding: 30px 0px;

    }
}

@media screen and (max-width: 1020px) {
    .Web-Section-Container{
        flex-direction: column-reverse;
    }

    .RPA-Section-Container{
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 650px) {
    .OUR-SERVICES-IMG{
        margin-bottom: 35px;
    }

    .Web-Section-Text h2{
       font-size: 60px;
        margin-bottom: 25px;
    }
    .App-Section-Text h2{
        font-size: 60px;
        margin-bottom: 25px;
    }

    .RPA-Section-Text h2{
        font-size: 60px;
        margin-bottom: 25px;
    }

    .Graphic-Section-Text h2{
        font-size: 60px;
        margin-bottom: 25px;
    }
}
/*----------------------Our Services-End----------------------*/

/*----------------------Why Choose Us-Start----------------------*/
.why_fervtech{
    margin: 50px 0 20px;
}

.why_fervtech h2{
    text-align: center;
    color: #4644AA;
    padding-bottom: 10px;
    font-size: 3.5rem;
    font-weight: bold;
    position: relative;
}

.why_fervtech h2:after{
    content: "";
    position: absolute;
    left: 25%;
    bottom: 0;
    width: 7%;
    margin-left:21%;
    border: 2px solid #58595B;
}

.why_fervtech .why_fervtech_container{
    width: 90%;
    margin: 50px auto;
    text-align: center;
    background-color: #f1f1f1ff;
    padding: 50px 0 20px;

}


.why_fervtech_container .why_fervtech_content{
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;

}

.why_fervtech_content .card{
    width: 290px;
    background: #fff;
    padding: 20px 10px;
    margin-bottom: 50px;
    transition: 0.3s;
    box-shadow:  0 0 5px #414042;
    border-radius: 25px;
    position: relative;
}

.why_fervtech_content .card:before{
    content: '';
    width: 0;
    height: 6px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #FFFFFF;
    position: absolute;
    transition: all 0.4s ease;
}

.why_fervtech_content .card:hover:before{
    display: block;
    width: 100px;
}


.why_fervtech_content .card .card_img{
    background: #FFFFFF;
    max-width: 190px;
    width: 100%;
    height: 190px;
    margin: 0 auto;
    border-radius: 50%;
    padding: 5px;
    position: relative;
    cursor: pointer;
}

.why_fervtech_content .card .card_img img{
    width: 100%;
    height: 100%;
}

.why_fervtech_content .card h3{
    text-transform: uppercase;
    font-size: 1.3rem;
    line-height: 18px;
    margin: 15px 0 0;
    color: #4644AA;
}

.why_fervtech_content .card p{
    margin-top: 20px;
}

.why_fervtech_content .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(112, 112, 112, 112);
    background-color: #4644AA;

}

.why_fervtech_content .card:hover h3, .why_fervtech_content .card:hover p{
    color: #FFFFFF;
}

@media screen and (max-width: 1415px) {
    .why_fervtech_content {
        padding: 0 100px;
        gap: 150px;
    }

}

@media screen and (max-width: 1100px) {
    .why_fervtech_content{
        padding: 0 100px;
        gap: 100px;
    }

}

@media screen and (max-width: 1100px) {
    .why_fervtech_content{
        padding: 0 100px;
        gap: 70px;
    }

}



@media screen and (max-width: 970px) {
    .why_fervtech_content {
        padding: 0;
        gap: 0;
    }
}

@media screen and (max-width: 700px) {
    .why_fervtech_content{
        padding: 0;
        gap: 100px;
    }
}


/*----------------------Why Choose Us-End----------------------*/

/*----------------------Testimonial-Start----------------------*/
.testimonials{
    padding-bottom: 20px;
}

.testimonials h2{
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    color: #4644AA;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 3.5rem;
    position: relative;
}

.testimonials h2:after{
    content: "";
    position: absolute;
    left: 25%;
    bottom: 0;
    width: 7%;
    margin-left:21%;
    border: 2px solid #58595B;
}


.testimonials .swiper{
    width: 100%;
}

.testimonials .swiper-wrapper{
    width: 100%;
    height: 35em;
    display: flex;
    align-items: center;
}

.testimonials .card{
    width: 20em;
    height: 70%;
     background-color: #FFFFFF;
    border-radius: 2em;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 2em;
}

.testimonials .swiper-slide:not(.swiper-slide-active){
    filter: blur(2px);

}
.testimonials .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;

}
.testimonials .card-status{
    font-size: 16px;
    color: #4644AA;
    margin: 2px 0 9px 0;
}
.testimonials .image-content{
    position: relative;
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.testimonials .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4644AA;
    border-radius: 25px 25px 0 25px;
}
.testimonials .overlay::before,
.testimonials .overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4644AA;
}
.testimonials .overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF;
}

.testimonials .card-image{
    position: relative;
    height: 10em;
    width: 10em;
    border-radius: 50%;
    background: #FFFFFF;
    padding: 3px;

}
.testimonials .card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4644AA;
}
.testimonials .card-name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.testimonials .description{
    text-align: center;
    padding-bottom: 10px ;
}

.testimonials .description i{
    font-size: 10px;
    color: #4644AA;
    margin: 0 6px;
}

.testimonials .swiper-navBtn{
    color:  #4644AA;
    transition: color 0.4s;
}
.testimonials .swiper-navBtn:hover{
    transform: scale(1.3);
    font-size: 60px;
}
.testimonials .swiper-navBtn::before,
.testimonials .swiper-navBtn::after{
    font-size: 35px;
}
.testimonials .swiper-button-next{
    right: 0;
}
.testimonials .swiper-button-prev{
    left: 0;
}
.testimonials .swiper-pagination-bullet{
    background-color:  #4644AA;
    opacity: 1;
}
.testimonials .swiper-pagination-bullet-active{
    background-color: #4644AA;
}

@media screen and (max-width: 768px) {
    .testimonials .slide-content{
        margin: 0 10px;
    }
    .testimonials .swiper-navBtn{
        display: none;
    }
}

/*----------------------Testimonial-End----------------------*/

/*----------------------Footer------------------------*/
.footer{
    background: #0B1123;
    height: auto;
    padding:03px 0 ;
    margin-bottom: 0;
    background-image: url("image/footer.png");
}
.footer_container{
    max-width: 2000px;
    margin: 50px;
}


.footer_row{
    display: flex;
    flex-wrap: wrap;
}

.footer_col{
    width: 25%;
    padding: 0 15px;
}

.footer_col h3{
    font-size: 1.3rem;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
}


.footer_container ul{
    list-style: none;
    line-height: 2;
}

.details ul li {
    text-decoration: none;
    font-weight: 300;
    color:  #bbbbbb;
    display: block;
    transition: all 0.1s ease;
}

.details ul li:hover{
    color: #ffffff;
}

.details ul li i{
    margin-right: 10px;
}
.footer_col ul li a{
    color:  #bbbbbb;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer_col ul li a:hover{
    color: #4644AA;
    letter-spacing: 1px;

}

.footer_col .social_icons a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 20px 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer_col .social_icons a:hover{
    color: #4644AA;
    background-color: #ffffff;
}

.footer_logo{
    width: 200px;

}

.footer_col .footer_newsletter{
    display: flex;
    min-width: 300px;
    flex-wrap: wrap;

}

#footer_email{
    width: 65%;
    height: 40px;
    border-radius: 3px;
    padding-left: 10px;
    margin-right: 0.3em;
}


#footer_submit{
    width: 20%;
    height: 40px;
    border-radius: 3px;
    color: #ffffff;
    background-color: #4644AA;
    cursor: pointer;
    transition: all 0.2s ease-out;
}
#footer_submit:hover{
    background-color: #ffffff;
    color: #4644AA;
    border:  1px solid #4644AA;
}

.gratitude{
    color: #ffffff;
}

#footer_paragraph{
    margin-top: 30px;
    color: #bbbbbb;
}

#footer-paragraph:hover{
    color: #ffffff;
}

.copyright{
    text-align: center;
    margin-top: 50px;
    padding: 0;
    color: #ffffff;
}

/*--------footer-responsive---------*/
@media screen and (max-width: 1099px) {
    .footer_col{
        width: 50%;
        margin-bottom: 30px;
    }

    .footer_col form{
        width: 100%;
    }

}



@media screen and  (max-width: 610px) {
    .footer_col{
        width: 100%;
        margin-bottom: 30px;
    }

}

/*-----------------Scroll-Up-Stat----------------*/
#Scroll-Up{
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0 , 0, 0.2);
    cursor: pointer;
    z-index: 99;
}
#Scroll-Up-value {
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #4644AA;
}

/*-----------------Scroll-Up-End----------------*/