*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    background: #fdfdfdff;
    color: #080808;
}


/*---------------Header-----------------*/
#header{
    background: #ffffff;

}
.header-container{
    padding: 0.1px 0;

}

.nav{
    font-weight: bold;
    font-size: 16px;
    background: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 99;
    box-shadow:  0 0 5px #262626;
}

.nav .logo{
    padding-left: 50px;
    width: 200px;
}

nav:after{
    content: '';
    clear: both;
    display: table;
}


.nav-links{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;

}

.nav-links li{
    float: left;
    display: inline-block;
    margin: 0 50px;

}


.nav-links li a{
    position: relative;
    color: #2B398D;
    text-decoration: none;
    line-height: 70px;
    padding-bottom: 8px;
    text-transform: uppercase;

}

.nav-links li a:before{
    content: '';
    width: 0;
    height: 3px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #080808;
    position: absolute;
    transition: all 0.4s ease;
}

.nav-links li a:hover:before{
    width: 100%;
}

.angleDown{
    display: none;
    color:  #4644AA;
    font-size: 30px;
    cursor: pointer;
}


.nav-bar{
    color: #4644AA;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}



.services-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background: #ffffff;
    border-radius: 5px;
    border-top:3px solid #4644AA;
    z-index: 1;
}

.nav-links li:hover .services-menu{
    opacity: 1;
    visibility: visible;
}


.services-links li{

    position: relative;
    list-style: none;
    margin: 0;
    width: 300px;
    float: none;
    display: list-item;
    transition: 0.3s ease;
}

.services-links li:hover{
    padding-left: 8px;
    color: #4644AA;
}

.services-links li a{
    color: #080808;
    padding: 8px 15px;
    transition: 0.2s ease;
}

.services-links li a:before{
    background: none;

}
.services-links li a:hover{
    color:#4644AA;
    border-radius: 5px;
    box-shadow: 0 0 5px #4644AA, 0 0 5px #262626;
}

@media (max-width: 1090px) {
    .nav .logo{
        font-size: 32px;
        padding-left: 60px;
    }

    .nav-links {
        margin-right: 20px;
    }

    .nav-links li a{
        font-size: 15px;
    }



}

@media (max-width: 1020px) {
    .nav-bar{
        display: block;
    }

    .nav-links{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 60px;
        left:-100%;
        background-color: white;
    }

    .nav-links.active{
        left: 0;
        z-index: 1;
        height: 300px;
    }


    .nav-links li {
        display: block;
        float: none;
        margin: 0;
        line-height: 30px;

    }

    .nav-links li a{
        font-size: 20px;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .service-error{
        padding-right: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-links li a:hover:before{
        display: none;
    }


    .angleDown{
        display: block;
    }


    .services-links{
        position: fixed;
        width: 100%;
        height: 100vh;
        left:-100%;
        background-color: white;
    }

    .services-links li{
        list-style: none;
        margin: 0;
        width: 100%;
        float: none;
        transition: 0.3s ease;
    }

    .services-links li a:hover{
        border:none;
        box-shadow: none;
    }


    .services-links.active{
        left: 0;
        height: 330px;
    }



}
/*------Header-End-----------*/


/*----------------Main----------------*/
.Mobile-Article{
    width: 100%;
    margin: 100px 0 auto;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Mobile-Article-Container{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.Mobile-Article-text{
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
}
.Mobile-Article-text h2{
    color: #4644AA;
    margin-bottom: 20px;
    font-size: 50px;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.Mobile-Article-text p{
    margin-top: 25px;
    color: #080808;
    font-size: 23px;

}


.Mobile-Article .Mobile-Article-Container img{

}

@media screen and (max-width: 1380px) {

    .Mobile-Article {
        width: 100%;
        height: auto;
        padding: 70px 0;

    }

    .Mobile-Article .Mobile-Article-Container img{
        margin-bottom: 20px;

    }

}
@media screen and (max-width: 1230px) {

    .Mobile-Article-Container {
        flex-direction: column-reverse;
    }

    .Mobile-Article {
        width: 100%;
        height: auto;

    }

    .Mobile-Article-text h2{
        font-size: 50px;
    }


}

@media screen and (max-width: 650px) {
    .Mobile-Article .Mobile-Article-Container img{
        width: 450px;

    }


    .Mobile-Article-text h2 {
        font-size: 40px;
        margin-bottom: 25px;
    }

}

@media screen and (max-width: 550px) {
    .Mobile-Article .Mobile-Article-Container img{
        width: 350px;

    }



}

/*--------Platforms---------*/
.Platforms{
    margin-top: 100px;
    width: 100%;
    color: #080808;

}

.Platforms h2{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #4644AA;
    position: relative;
    padding-bottom: 20px;
}

.Platforms .Platform-Title:after{
    content: "";
    position: absolute;
    left: 25%;
    bottom: 0;
    width: 7%;
    margin-left:21%;
    border: 2px solid #080808;
}


.Platforms p{
    text-align: center;
}

.Platform-Container{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70vh;
    background: linear-gradient(#4644AA, #4644AA 50%, #FFFFFF 50%, #FFFFFF 100%);
    flex-wrap: wrap;
    padding: 0 50px;
}

.Platform-Card{
    position: relative;
    width: 320px;
    background: #FFFFFF;
    padding: 20px 15px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.Platform-Icon{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: -90px auto 0;
    background: #FFFFFF;
    border: 18px solid #4644AA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Platform-Card:hover .Platform-Icon i{
    transform: rotate(360deg);

}

.Platform-Card i{
    font-size: 40px;
    color: #4644AA;
    transition: transform 1s;
}

.Platform-Card h2{
    height: 35px;
    width: 80%;
    margin: 20px auto ;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}



.Platform-Card h2::after{
    content: '';
    width: 40px;
    height: 30px;
    background: linear-gradient( to right, #fff, #4644AA);
    position: absolute;
    right: -5px;
    top: -5px;

}

.Platform-Card h2::before{
    content: '';
    width: 40px;
    height: 30px;
    background: linear-gradient( to right, #4644AA, #FFFFFF);
    position: absolute;
    left: -5px;
    bottom: -5px;

}

.Platform-Card p{
   margin-bottom: 50px;
}

@media screen and (max-width: 1423px){

    .Platforms{
        margin-bottom: 50px;
    }

    .Platform-Container{
        background: #4644AA;
        gap: 100px;
        padding: 100px 180px;
    }



}


@media screen and (max-width: 1191px){

    .Platform-Container{
        background: #4644AA;
        gap: 100px;
        padding: 100px 100px;
    }



}


@media screen and (max-width: 960px){

    .Platform-Container{
        background: #4644AA;
        gap: 50px;
        padding: 100px 50px;
    }

    .Platform-Card{
        margin-top: 30px;
    }


}

@media screen and (max-width: 810px){

    .Platform-Container{
        background: #4644AA;
        gap: 20px;
        padding: 100px 20px;

    }

    .Platform-Card{
        margin-top: 70px;
    }

}

@media screen and (max-width: 720px){

    .Platform-Container{
        display: grid;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }

    .Platform-Card{
        margin-top: 90px;
    }

}

/*------Mobile-Tech-Slider----*/
.Mobile-Tech{
    text-align: center;
    color: #080808;
    padding: 150px 0 0;
}

.Mobile-Tech-Text{
    margin-bottom: 30px;
}

.Mobile-Tech-Text h2 {
    font-weight: bold;
    font-size: 50PX;
    color: #4644AA;
    margin-bottom: 20px;
}

.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus{
    outline: none;
}

.slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    margin: 0 20px;
}

.slick-slide img{
    display: block;
    width: 100%;
}

.slick-initialized .slick-slide{
    display: block;
}

.slick-loading .slick-slide{
    visibility: hidden;
}

@media screen and (max-width: 800px) {
     .Mobile-Tech{
         padding: 0;
     }
    h2{
        padding: 70px 0 50px;
        font-size: 40px;
    }
}

/*--------Mobile-Contact---------*/
.Mobile-Contact{
    background: #4644AA;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    margin: 10rem 4rem 0;

}

.Mobile-Contact-Container{

    padding: 4rem;
    background-image: url("image/Backgroung-Img1.png");
    height: 20rem;
}


.Mobile-Contact h2{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 40px;
}
.Mobile-Contact p{
    margin: 30px 0;
    color: #E5E5E5;


}

.Mobile-Contact a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 2em;
    width: 8em;
    border-radius: 25px;
    text-decoration: none;
    background: #FFFFFF;
    color: #4644AA;
    transition: 0.5s ease;
    font-weight: bold;
}

.Mobile-Contact a:hover{
    transform: scale(1.2);
}


@media screen and (max-width: 1024px) {

    .Mobile-Contact {
        height: auto;

    }
}

@media screen and (max-width: 600px) {

    .Mobile-Contact {
        margin-top: 50px;

    }

    .Mobile-Contact-Container{
        padding: 10px 20px;
    }

    .Mobile-Contact h2{

        margin-top: 10px;
    }

    .Mobile-Contact p{

        margin-top: 10px;
    }

}



/*----------------------Footer------------------------*/
.footer {
    font-size: 80%;
    background: #1a1c27ff url("image/footer.png");
    height: auto;
    padding: 03px 0;
    margin-bottom: 0;
    margin-top: 50px;
}

.footer-container {
    max-width: 2000px;
    margin: 50px;
}


.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
}


.footer-container ul {
    list-style: none;
    line-height: 2;
}

.Details ul li {
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.1s ease;
}

.Details ul li:hover {
    color: #ffffff;

}

.Details ul li i {
    margin-right: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    color: #bbbbbb;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #4644AA;
    letter-spacing: 1px;

}

.footer-col .social-icons a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 20px 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-icons a:hover {
    color: #4644AA;
    background-color: #ffffff;
}

.footer-logo {
    width: 100px;
    background-color: #ffffff;
    border-radius: 15px;
}

#footer-email {
    width: 250px;
    height: 40px;
    border-radius: 5px;
}

#footer-submit {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    background-color: #4644AA;
    cursor: pointer;
}

#footer-submit:hover {
    background-color: #ffffff;
    color: #4644AA;
    border: 1px solid #4644AA;
}

.Gratitude {
    margin-top: 20px;
    color: #ffffff;
}

#footer-paragraph {
    margin-top: 30px;
    color: #bbbbbb;
    font-size: 16px;
}

#footer-paragraph:hover {
    color: #ffffff;
}

.copyright {
    text-align: center;
    margin-top: 50px;
    padding: 0;
    color: #ffffff;
}


/*--------footer-responsive---------*/
@media (max-width: 1555px) {

    #footer-email {
        width: 150px;
    }
}

@media (max-width: 1155px) {

    #footer-submit {
        width: 60px;
    }
}

@media (max-width: 1077px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }

    #footer-email {
        width: 200px;
    }

    #footer-submit {
        width: 80px;
    }
}

@media (max-width: 727px) {

    #footer-submit {
        width: 60px;
    }
}

@media (max-width: 687px) {
    #footer-email {
        width: 150px;
    }
}

@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }

    #footer-email {
        width: 200px;
    }

    #footer-submit {
        width: 80px;
    }
}

/*-----------------Scroll-Up-Stat----------------*/
#Scroll-Up {
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#Scroll-Up-value {
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #4644AA;
}


/*-----------------Scroll-Up-End----------------*/