*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    font-family:"Poppins", sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body {
    background: #fdfdfdff;
    color: #414042;
    font-size: 1rem;
}


/*---------------Header-----------------*/
#header{
    background: #ffffff;

}
.header_container{
    padding: 0.1px 0;

}

/* -----------------Nav-Section-------------*/
.nav{
    font-weight: bold;
    font-size: 16px;
    position: fixed;
    width: 100%;
    z-index: 99;

}

.nav.sticky{
    background: #FFFFFF;
    box-shadow:  0 0 5px #262626;
    z-index: 99;
}


.nav.sticky .nav_links li a{
    color: #4644AA;
}

.nav.sticky .services_links li a{
    color: #414042;
}

.nav.sticky .services_links li a:hover{
    color: #4644AA;
}

.nav.sticky .nav_bar{
    color: #4644AA;
}


.nav .logo{
    padding-left: 50px;
    width: 200px;
}


nav:after{
    content: '';
    clear: both;
    display: table;
}


.nav_links{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;

}

.nav_links li{
    float: left;
    display: inline-block;
    margin: 0 50px;

}


.nav_links li a{
    position: relative;
    color: #FFFFFF;
    line-height: 70px;
    padding-bottom: 8px;
    text-transform: uppercase;
}

.nav_links li a:before{
    content: '';
    width: 0%;
    height: 3px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #080808;
    position: absolute;
    transition: all 0.4s ease;
}

.nav_links li a:hover:before{
    width: 100%;
}
.angleDown{
    display: none;
    color:  #4644AA;
    font-size: 30px;
    cursor: pointer;
}


.nav_bar{
    color: #FFFFFF;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}



.services_menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background: #ffffff;
    border-radius: 5px;
    border-top:3px solid #4644AA;
    z-index: 99;
}

.nav_links li:hover .services_menu{
    opacity: 1;
    visibility: visible;
}


.services_links li{
    position: relative;
    margin: 0;
    width: 300px;
    float: none;
    display: list-item;
    transition: 0.3s ease;
    cursor: pointer;
}

.services_links li:hover{
    padding-left: 8px;
    color: #4644AA;
}

.services_links li:before{
    content: '';
    width: 4px;
    height: 0;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: #4644AA;
    position: absolute;
    transition: all 0.5s ease;

}

.services_links li:hover:before{
    display: block;
    height: 40px;
}

.services_links li a {
    text-transform: capitalize;
    color: #414042;
    padding-left: 15px;
}

.services_links li a:before{
    background: none;
}

.services_links li a:hover{
    color: #4644AA;
}

@media (max-width: 1090px) {
    .nav .logo{
        font-size: 32px;
        padding-left: 60px;
    }


    .nav_links {
        margin-right: 20px;
        color: #4644AA;
    }





}

@media (max-width: 1020px) {
    .nav_bar{
        display: block;
    }

    .nav_links{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 60px;
        left:-100%;
        background-color: white;
    }

    .nav_links.active{
        left: 0;
        z-index: 1;
        height: 300px;
    }


    .nav_links li {
        display: block;
        float: none;
        margin: 0;
        line-height: 30px;

    }

    .nav_links li a{
        font-size: 20px;
        color: #4644AA;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .service_error{
        padding-right: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav_links li a:hover:before{
        display: none;
    }


    .angleDown{
        display: block;
    }


    .services_links{
        position: fixed;
        width: 100%;
        height: 100vh;
        left:-100%;
        background-color: white;
    }

    .services_links li{
        list-style: none;
        margin: 0;
        width: 100%;
        float: none;
        transition: 0.3s ease;
    }
    .services_links li a{
        color: #414042;
    }

    .services_links li a:hover{
        color: #4644AA;
        border:none;
        box-shadow: none;
    }


    .services_links.active{
        left: 0;
        height: 330px;
    }


}
/*------Header-End-----------*/


/*----------------Main----------------*/


/*----Hero-Header-------------*/

.hero_header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_header img{
    width: 100%;
    object-fit: cover;
}


.RPA-Section{
    width: 100%;
    margin: 100px 0 auto;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;


}

.RPA-Section .RPA-Section-Container{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.RPA-Section .RPA-Section-Container .RPA-Section-Text {
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
}
.RPA-Section .RPA-Section-Container .RPA-Section-Text h1{
    color: #4644AA;
    margin-bottom: 20px;
    font-size: 35px;
    text-transform: capitalize;
    font-weight: bold;
}

.RPA-Section .RPA-Section-Container .RPA-Section-Text span{
    color: #414042;
    font-size: 1.2rem;

}

.RPA-Section .RPA-Section-Container .RPA-Section-Text p{
    margin-top: 25px;
    color: #707070;
}


.RPA-Section .RPA-Section-Container img{
    width: 600px;
    height: 350px;
}

@media screen and (max-width: 1380px) {

    .RPA-Section {
        width: 100%;
        height: auto;
        padding: 70px 0;

    }

    .RPA-Section .RPA-Section-Container img{
        margin-bottom: 20px;

    }

}
    @media screen and (max-width: 1230px) {

        .RPA-Section-Container {
            flex-direction: column-reverse;
        }

        .RPA-Section {
            width: 100%;
            height: auto;

        }


    }

    @media screen and (max-width: 650px) {
        .RPA-Section .RPA-Section-Container img{
            width: 450px;

        }


        .RPA-Section-Text h2 {
            font-size: 60px;
            margin-bottom: 25px;
        }

    }

    @media screen and (max-width: 550px) {
        .RPA-Section .RPA-Section-Container img{
            width: 350px;

        }



    }
/*-------------Benefits------*/
.benefits_section{
    margin: 100px 50px 0 0;
    width: 100%;
    height: 100vh;
    padding: 0 8%;
}


.benefits_section_text{
    text-align: center;
}

.benefits_section_text h1{
    color: #4644AA;
    margin-bottom: 20px;
    font-size: 3.5rem;
    text-transform: capitalize;
    font-weight: bold;
    padding-bottom: 10px;
    position: relative;

}
.benefits_section_text h1:after{
    content: "";
    position: absolute;
    left: 25%;
    bottom: 0;
    width: 7%;
    margin-left:21%;
    border: 2px solid #414042;
}

.benefits_section_text span{

}

.Grid{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 100px;
}

.rpa_benefits{
    text-align: center;
    padding: 25px 10px;
    background: transparent;
    cursor: pointer;
    transition: 0.2s ease;

}

.rpa_benefits:hover{
    box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border-bottom: solid 10px #4644AA;
}

.rpa_benefits i{
    font-size: 40px;
    margin-bottom: 10px;
    color: #4644AA;
}

.rpa_benefits h2{
    font-weight: 600;
    margin-bottom: 10px;

}


@media screen and (max-width: 1380px) {

    .Benefits-Section {
        width: 100%;
        height: auto;


    }


}


/*--------RPA-Contact-US--------*/
.rpa_contact{
    background-color: #4644AA;
    border-radius: 20px;
    margin: 5rem;
    color: #FFFFFF;
}

.rpa_contact_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    align-items: center;
}

.rpa_contact_content h1{
    margin-bottom: 2rem;
    font-size: 5rem;

}

.rpa_contact_content p{
    margin-bottom: 2rem;
}

.rpa_contact_content a{
    background: #FFFFFF;
    text-decoration: none;
    padding: 1rem;
    border-radius: 1rem;
    color: #4644AA;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.rpa_contact_content a:hover{
   transform: scale(1.2);
    color: #414042;
}




/*----------------------Footer------------------------*/
.footer{
    background: #0B1123;
    height: auto;
    padding:03px 0 ;
    margin-bottom: 0;
    background-image: url("image/footer.png");
}
.footer_container{
    max-width: 2000px;
    margin: 50px;
}


.footer_row{
    display: flex;
    flex-wrap: wrap;
}

.footer_col{
    width: 25%;
    padding: 0 15px;
}

.footer_col h3{
    font-size: 1.3rem;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
}


.footer_container ul{
    list-style: none;
    line-height: 2;
}

.details ul li {
    text-decoration: none;
    font-weight: 300;
    color:  #bbbbbb;
    display: block;
    transition: all 0.1s ease;
}

.details ul li:hover{
    color: #ffffff;
}

.details ul li i{
    margin-right: 10px;
}
.footer_col ul li a{
    color:  #bbbbbb;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer_col ul li a:hover{
    color: #4644AA;
    letter-spacing: 1px;

}

.footer_col .social_icons a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 20px 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer_col .social_icons a:hover{
    color: #4644AA;
    background-color: #ffffff;
}

.footer_logo{
    width: 200px;

}

.footer_col .footer_newsletter{
    display: flex;
    min-width: 300px;
    flex-wrap: wrap;

}

#footer_email{
    width: 65%;
    height: 40px;
    border-radius: 3px;
    padding-left: 10px;
    margin-right: 0.3em;
}


#footer_submit{
    width: 20%;
    height: 40px;
    border-radius: 3px;
    color: #ffffff;
    background-color: #4644AA;
    cursor: pointer;
    transition: all 0.2s ease-out;
}
#footer_submit:hover{
    background-color: #ffffff;
    color: #4644AA;
    border:  1px solid #4644AA;
}

.gratitude{
    color: #ffffff;
}

#footer_paragraph{
    margin-top: 30px;
    color: #bbbbbb;
}

#footer-paragraph:hover{
    color: #ffffff;
}

.copyright{
    text-align: center;
    margin-top: 50px;
    padding: 0;
    color: #ffffff;
}

/*--------footer-responsive---------*/
@media screen and (max-width: 1099px) {
    .footer_col{
        width: 50%;
        margin-bottom: 30px;
    }

    .footer_col form{
        width: 100%;
    }

}



@media screen and  (max-width: 610px) {
    .footer_col{
        width: 100%;
        margin-bottom: 30px;
    }

}


    /*-----------------Scroll-Up-Stat----------------*/
    #Scroll-Up {
        position: fixed;
        bottom: 20px;
        right: 10px;
        height: 70px;
        width: 70px;
        display: none;
        place-items: center;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }

    #Scroll-Up-value {
        height: calc(100% - 15px);
        width: calc(100% - 15px);
        background-color: #ffffff;
        border-radius: 50%;
        display: grid;
        place-items: center;
        font-size: 35px;
        color: #4644AA;
    }


/*-----------------Scroll-Up-End----------------*/