*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    font-family:"Poppins", sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body {
    background: #fdfdfdff;
    color: #231F20;
    font-size: 1em;
}

/*---------------Header-----------------*/
#header{
    background: #ffffff;

}
.header-container{
    padding: 0.1px 0px;

}

.nav{
    font-weight: bold;
    font-size: 16px;
    position: fixed;
    width: 100%;
    z-index: 99;

}

.nav.sticky{
    background: #FFFFFF;
    box-shadow:  0 0 5px #262626;
    z-index: 99;
}


.nav.sticky .nav-links li a{
    color: #2B398D;
}

.nav.sticky .services-links li a{
    color: #080808;
}

.nav.sticky .services-links li a:hover{
    color: #4644AA;
}



.nav .logo{
    padding-left: 50px;
    width: 200px;
}

nav:after{
    content: '';
    clear: both;
    display: table;
}


.nav-links{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;

}

.nav-links li{
    float: left;
    display: inline-block;
    margin: 0px 50px;

}


.nav-links li a{
    position: relative;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 70px;
    padding-bottom: 8px;
    text-transform: uppercase;

}

.nav-links li a:before{
    content: '';
    width: 0%;
    height: 3px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #080808;
    position: absolute;
    transition: all 0.4s ease;
}

.nav-links li a:hover:before{
    width: 100%;
}

.angleDown{
    display: none;
    color:  #4644AA;
    font-size: 30px;
    cursor: pointer;
}


.nav-bar{
    color: #4644AA;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}



.services-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background: #ffffff;
    border-radius: 5px;
    border-top:3px solid #4644AA;
    z-index: 1;
}

.nav-links li:hover .services-menu{
    opacity: 1;
    visibility: visible;
}


.services-links li{

    position: relative;
    list-style: none;
    margin: 0px;
    width: 300px;
    float: none;
    display: list-item;
    transition: 0.3s ease;
}

.services-links li:hover{
    padding-left: 8px;
    color: #4644AA;
}

.services-links li a{
    color: #231F20;
    padding: 8px 15px;
    transition: 0.2s ease;
    text-transform: capitalize;
}

.services-links li a:before{
    background: none;

}
.services-links li a:hover{
    color:#4644AA;
    border-radius: 5px;
    box-shadow: 0 0 5px #4644AA, 0 0 5px #262626;
}

@media (max-width: 1090px) {
    .nav .logo{
        font-size: 32px;
        padding-left: 60px;
    }

    .nav-links {
        margin-right: 20px;
    }

    .nav-links li a{
        font-size: 15px;
    }



}

@media (max-width: 1020px) {
    .nav-bar{
        display: block;
    }

    .nav-links{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 60px;
        left:-100%;
        background-color: white;
    }

    .nav-links.active{
        left: 0;
        z-index: 1;
        height: 300px;
    }


    .nav-links li {
        display: block;
        float: none;
        margin: 0;
        line-height: 30px;

    }

    .nav-links li a{
        font-size: 20px;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .service-error{
        padding-right: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-links li a:hover:before{
        display: none;
    }


    .angleDown{
        display: block;
    }


    .services-links{
        position: fixed;
        width: 100%;
        height: 100vh;
        left:-100%;
        background-color: white;
    }

    .services-links li{
        list-style: none;
        margin: 0px;
        width: 100%;
        float: none;
        transition: 0.3s ease;
    }

    .services-links li a:hover{
        border:none;
        box-shadow: none;
    }


    .services-links.active{
        left: 0;
        height: 330px;
    }



}
/*------Header-End-----------*/

/*----------------Main----------------*/

/*----Image-Header-------------*/

.hero_header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_header img{
    width: 100%;
    object-fit: cover;
}


/*---------Mobile-Article--------*/
.webpage_article{
    width: 100%;
    margin: 100px 0 auto;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.webpage_article_container{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.webpage_article-text{
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
}
.webpage_article-text h2{
    color: #4644AA;
    margin-bottom: 20px;
    font-size: 3.5rem;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.webpage_article-text h2:after{
    content: "";
    position: absolute;
    left: 25%;
    bottom: 0;
    width: 7%;
    margin-left:21%;
    border: 2px solid #58595B;
}

.webpage_article-text p{
    margin-top: 25px;
    color: #231F20;
    font-size: 20px;

}



@media screen and (max-width: 1380px) {

    .webpage_article {
        width: 100%;
        height: auto;
        padding: 70px 0;

    }

    .webpage_article .webpage_article_container img{
        margin-bottom: 20px;

    }

}
@media screen and (max-width: 1230px) {

    .webpage_article_container{
        flex-direction: column-reverse;
    }

    .webpage_article {
        width: 100%;
        height: auto;

    }

    .webpage_article_text h2{
        font-size: 50px;
    }


}

@media screen and (max-width: 650px) {
    .webpage_article .webpage_article_container img{
        width: 450px;

    }


    .webpage_article-text h2 {
        font-size: 40px;
        margin-bottom: 25px;
    }

}

@media screen and (max-width: 550px) {
    .Mobile-Article .Mobile-Article-Container img{
        width: 350px;

    }

}


/*----------------Web-Services-------------------*/
.web_service{
    max-width: 100vw;
    padding-bottom: 12rem;
}

.web_service_container{
    width: 84%;
    margin: 0 auto;
}
.web_service h1{
    text-align: center;
    margin-bottom: 5rem;
    font-size: 3.5rem;
    color: #2B398D;
}

.web_service_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    align-items: center;
    margin-top: 3rem;
}

.web_service_text h2{
    color: #4644AA;
    margin-bottom: 1.3rem;
    font-size: 40px;
}

.web_service_img img{
    width: 100%;
}

@media screen and (max-width: 1024px){


    .web_service_container{
        width: 90%;
    }

    .web_service_content{
        margin: auto;
    }


}

@media screen and (max-width: 600px){

    .web_service{
        padding-bottom: 8rem;
    }

    .web_service_container{
        width: 94%;
    }
    .web_service_content{
        grid-template-columns: 1fr;
        margin-top: 5rem;
        text-align: center;
        gap: 0;
    }

    .web_service_content:nth-child(2) .web_service_img{
        grid-row: 1;
    }

}

/*--------------------Webpage-Contact--------*/
.webpage_contact{
    max-width: 100vw;
    padding-bottom: 12rem;
    background-color: #4644AA;
    margin: 5rem ;
    border-radius: 10px;
}

.webpage_cont_container{
    width: 84%;
    margin: 0 auto;

}

.webpage_contact_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    align-items: center;
    margin-top: 3rem;
    padding: 3rem;
}
.webpage_contact_text{
    color: #FFFFFF;
}

.webpage_contact_text h2{
    margin-bottom: 1.3rem;
    font-size: 5rem;

}

.webpage_contact_text p{
    margin-bottom: 2rem;

}

.webpage_contact_text a{
    background: #FFFFFF;
    text-decoration: none;
    padding: 1rem;
    border-radius: 6px;
    color: #4644AA;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.webpage_contact_text a:hover{
    transform: scale(1.2);
    color: #080808;
}



.webpage_contact_img img{
    width: 100%;
}

@media screen and (max-width: 1024px){


    .webpage_contact_container{
        width: 90%;
    }

    .webpage_contact_content{
        margin: auto;
    }

    .webpage_contact_text{

    }


}

@media screen and (max-width: 600px){

    .webpage_contact{
        padding-bottom: 8rem;
    }

    .webpage_contact_container{
        width: 94%;
    }
    .webpage_contact_content{
        grid-template-columns: 1fr;
        margin-top: 5rem;
        text-align: center;
        gap: 0;
    }

    .webpage_contact_content:nth-child(2) .web_service_img{
        grid-row: 1;
    }

}




/*----------------------Footer------------------------*/
.footer{
    font-size: 80%;
    background: #1a1c27ff;
    height: auto;
    padding:03px 0 ;
    margin-bottom: 0;
    background-image: url("image/footer.png");
}
.footer-container{
    max-width: 2000px;
    margin: 50px;
}


.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
}



.footer-container ul{
    list-style: none;
    line-height: 2;
}

.Details ul li {
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    color:  #bbbbbb;
    display: block;
    transition: all 0.1s ease;
}

.Details ul li:hover{
    color: #ffffff;
}

.Details ul li i{
    margin-right: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    color:  #bbbbbb;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #4644AA;
    letter-spacing: 1px;

}

.footer-col .social-icons a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 20px 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-icons a:hover{
    color: #4644AA;
    background-color: #ffffff;
}

.footer-logo{
    width: 200px;

}

#footer-email{
    width: 250px;
    height: 40px;
    border-radius: 5px;
}

#footer-submit{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    background-color: #4644AA;
    cursor: pointer;
}
#footer-submit:hover{
    background-color: #ffffff;
    color: #4644AA;
    border:  1px solid #4644AA;
}

.Gratitude{
    margin-top: 20px;
    color: #ffffff;
}

#footer-paragraph{
    margin-top: 30px;
    color: #bbbbbb;
    font-size: 16px;
}

#footer-paragraph:hover{
    color: #ffffff;
}

.copyright{
    text-align: center;
    margin-top: 50px;
    padding: 0;
    color: #ffffff;
}

/*--------footer-responsive---------*/
@media (max-width: 1555px) {

    #footer-email{
        width: 150px;
    }
}

@media (max-width: 1155px) {

    #footer-submit{
        width: 60px;
    }
}

@media (max-width: 1077px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }

    #footer-email{
        width: 200px;
    }
    #footer-submit{
        width: 80px;
    }
}

@media (max-width: 727px) {

    #footer-submit{
        width: 60px;
    }
}

@media (max-width: 687px) {
    #footer-email{
        width: 150px;
    }
}

@media (max-width: 574px) {
    .footer-col{
        width: 100%;
    }

    #footer-email{
        width: 200px;
    }

    #footer-submit{
        width: 80px;
    }
}

/*-----------------Scroll-Up-Stat----------------*/
#Scroll-Up{
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 30;
}
#Scroll-Up-value {
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #4644AA;
}

/*-----------------Scroll-Up-End----------------*/