
/*----------------------Who We Are -Start----------------------*/
.about_us{
    margin: 15em 1em 0;
    padding-bottom: 20px;
}

.about_us h1{
    text-align: center;
    position: relative;
    padding-bottom: 10px;
}

.about_us:after{
    content: "";
    position: absolute;
    left: 25%;
    bottom: 0;
    width: 7%;
    margin-left:21%;
    border: 2px solid var(--sc-color);
}


.about_us p{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 0 200px;
}

@media screen and (max-device-width: 1024px){
    .who_we_are p{
        padding: 0 50px;
    }
}
/*----------------------Who We Are-End----------------------*/

/*----------------------Our Mission-Start----------------------*/
.our_mission{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.our_mission_container{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.our_mission_img{
    height: auto;
    width: 400px;
    max-width: 100%;
}

.mission_text{
    width: 550px;
    max-width: 100%;
    padding: 20px;
    background-color: var(--bg-color);
}


/*----------------------Our Mission-End----------------------*/

/*----------------------Our Vision--Start----------------------*/
.our_vision{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;

}

.our_vision_container{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.our_vision_img{
    height: auto;
    width: 400px;
    max-width: 100%;
}

.vision_text{
    width: 550px;
    max-width: 100%;
    padding: 20px;
    background-color: var(--bg-color);
}


@media screen and (max-width: 1024px) {
    .our_vision {
        height: auto;
    }
    .our_mission {
        height: auto;
    }
    .our_vision_img{
        width: 300px;
    }

    .our_mission_img{
        width: 300px;
    }
}

@media screen and (max-width: 600px) {
    .our_mission_container{
        text-align: center;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .our_vision_container{
        text-align: center;
        flex-wrap: wrap;
    }
}

/*----------------------Our Core Values-Start------------------------*/
.values{
    text-align: center;
    margin-bottom: 2em;
}

.values h1{
    padding-bottom: 10px;
    position: relative;
}

.values h1:after{
    content: "";
    position: absolute;
    left: 25%;
    bottom: 0;
    width: 7%;
    margin-left:21%;
    border: 2px solid var(--sc-color);

}


.values_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    margin-top: 50px;
    padding: 0 50px 0;
}
.values_container .card {
    padding: 1.25em;
    text-align: center;
    background: linear-gradient(0deg, var(--pr-color) 10px, transparent 10px) no-repeat 0 0.62em;
    box-shadow: var(--bs-color);
    border-radius: 1em;
    transition: 0.5s;
}
.values_container .card .icon {
    font-size: 2.5em;
    height: 2em;
    width: 2em;
    margin: auto;
    background-color: var(--pr-color);
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: var(--neu-color);
}
.values_container .icon:before {
    position: absolute;
    content: "";
    height: 1.5em;
    width: 1.5em;
    border: 0.12em solid var(--pr-color);
    border-radius: 50%;
    transition: 0.5s;
}
.values_container .card h3{
    margin: 1em 0 0.625rem 0;
}

.values_container .card:hover {
    background-position: 0;
}
.values_container .card:hover .icon:before {
    height: 2.25em;
    width: 2.25em;
}


@media screen and (max-width: 1400px) {
    .values_container{
        padding: 0 20px 0;
       grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    }
}

@media screen and (max-width: 965px) {
    .values_container{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media screen and (max-width: 497px) {
    .values_container .card:hover .icon:before {
    height: 1.25em;
    width: 1.25em;
}

}

/*----------------------Our Core Values-End------------------------*/

/*----------------------Executive-Team-Start------------------------*/
.our_team{
    text-align: center;
    margin-bottom: 1em;
}

.our_team h1{
    padding-bottom: 10px;
    position: relative;

}

.our_team h1:after{
    content: "";
    position: absolute;
    left: 25%;
    bottom: 0;
    width: 7%;
    margin-left:21%;
    border: 2px solid var(--sc-color);

}

.our_team_container{
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    padding: 0 50px 0;
    background-color: var(--pr-color);
    place-items: center;

}
.team_member{
    position: relative;
    width: 220px;
    height: 220px;
    background: var(--neu-color);
    padding: 30px;
    border-radius: 50%;
    box-shadow: var(--bs-color);
    transition: .6s;
    margin: 0 70px;
}
.team_member:hover{
    border-radius: 10px;
    height: 260px;
}
.team_member .team_img{
    position: relative;
    width: 100%;
    height: 100%;
    transition: .6s;
    z-index: 1;
}
.team_member:hover .team_img{
    transform: translateY(-60px);
}
.team_img img{
    width: 100%;
    border-radius: 50%;
    box-shadow: var(--bs-color);
    transition: .6s;
}
.team_member:hover img{
    border-radius: 10px;
}
.caption{
    text-align: center;
    transform: translateY(-80px);
    opacity: 0;
    transition: .6s;
}
.team_member:hover .caption{
    opacity: 1;
}
.caption h4{
    margin-bottom: 0.625rem;
}
.caption p{
    color: var(--sc-color);
    margin: 0 0 9px 0;
}
.caption .social_links a{
    color: var(--font-color);
    margin-right: 8px;
    font-size: 21px;
    transition: .6s;
}
.social_links a:hover{
    color: var(--pr-color);
}



@media screen and (max-width: 1024px) {
    .our_team_container{
        height: 50vh;
        grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    }

}

@media screen and (max-width: 719px){
    .our_team_container{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

}



@media screen and (max-width: 600px) {

    .our_team_container{
        height: 120vh;
    }

    .team_member {
        border-radius: 10px;
        height: 260px;
    }


    .team_member .team_img{
        transform: translateY(-60px);
    }

    .team_member img{
        border-radius: 10px;
    }

    .caption{
        transform: translateY(-80px);
        opacity: 1;
    }


    .social_links a{
        color: var(--pr-color);
    }

}

/*----------------------Our Team-End------------------------*/

