
/* --------------------Main---------------------- */


/*---------------Main-----------------*/
.blog_main{
    margin-top: 7em;
}

.blog_section_container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    padding: 0 20px;



}
.blog_section {
    display: flex;
    flex-direction: column;
    background: var(--neu-color);
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.1);
    z-index: 5;
    border-radius: 10px;
}
.blog_section h1{
    position: relative;
    left: 5em;
}

.recent_post{

    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;

}

.article_content{
    flex: 0 0 48%;
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
}

.article_content h2 {
    margin-top: 0;
}

.article_img{
    height: 180px;
    width: 180px;
}


.article_img img {
    width: 100%;
}

.blog_page_nav{
    display: flex;
    justify-content:center;
    align-content: center;
    margin-bottom: 5em;
    flex-direction: row-reverse;
}

.blog_arrows.right_hand{

}

.blog_arrows.left_hand{

}



.blog_arrows button{
    background-color: var(--sc-color);
    border: none;
    font-family: monospace;
    width: 60px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: var(--neu-color);
    transition: .5s;
    z-index: 10;
    cursor: pointer;

}

.blog_number{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 0 2em;
}

.blog_number button{
    background-color: var(--pr-color);
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: var(--neu-color);
    transition: .5s;
    z-index: 10;
    cursor: pointer;
}

.aside_section{
    display: flex;
    flex-direction: column;
    gap: 5em;

}

.sidebar{
    background: var(--neu-color);
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.1);
    padding: 1em;
    z-index: 5;
    border-radius: 10px;
}

.sidebar ul {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
}


.trend_list{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.popular_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;


}

.aside_img{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
}

.aside_img img{
    width: 100%;
}

@media screen and (max-width: 1024px){


}

@media screen and (max-width: 600px){
    .blog_section_container {
        grid-template-columns: 1fr;
    }

}







