*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
    font-size: 16px;
}


body {
    background: #fdfdfdff;
    color:  #414042;
    font-size: 1rem;
    letter-spacing: normal;
}

h1{
    font-size: 3rem;
    text-transform: capitalize;
    margin-bottom: 1.875rem;
    color: #4644AA;
    font-weight: bolder;

}

h2{
    color: #4644AA;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 1.25rem;
}

h3{
    text-transform: capitalize;
    font-size: 1.2rem;
    color: #4644AA;
}

p {
    line-height: 1.5;
    margin-bottom: 30px;
}

button{
    background-color: #4644AA;
    color: #ffffff;
    border: 2px solid transparent;
    border-radius: 6px;
    width: 200px;
    cursor: pointer;
    transition: 0.4s;
    font-size: 1rem;
}


/* --------------------Main---------------------- */
.hero_header {
    display: flex;

    align-items: center;
}

.hero_header img{
    width: 100%;
    object-fit: cover;
}

/*---------------Main-----------------*/
.blog_main{
    margin-top: 10rem;
    position: relative;
}

.blog_section_container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-gap: 20px;
    padding: 0 20px;
}
.blog_section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.recent_post{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;

}

.article_content{
    flex: 0 0 48%;
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
}

.article_content h2 {
    margin-top: 0;
}

.article_img{
    height: 180px;
    width: 180px;
}


.article_img img {
    width: 100%;
}

.aside_section{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.sidebar ul {
    margin-top: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.trend_list{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.popular_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;


}

.aside_img{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
}

.aside_img img{
    width: 100%;
}







