*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
    font-size: 16px;
}


body {
    background: #fdfdfdff;
    color:  #414042;
    font-size: 1rem;
    letter-spacing: normal;
}

h1{
    font-size: 3rem;
    text-transform: capitalize;
    margin-bottom: 1.875rem;
    color: #4644AA;
    font-weight: bolder;

}

h2{
    color: #4644AA;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 1.25rem;
}

h3{
    text-transform: capitalize;
    font-size: 1.2rem;
    color: #4644AA;
}

p {
    line-height: 1.5;
    margin-bottom: 30px;
}

button{
    background-color: #4644AA;
    color: #ffffff;
    border: 2px solid transparent;
    border-radius: 6px;
    width: 200px;
    cursor: pointer;
    transition: 0.4s;
    font-size: 1rem;
}


/* _--------------------Main---------------------- */
.hero_header {
    display: flex;

    align-items: center;
}

.hero_header img{
    width: 100%;
    object-fit: cover;
}

/*---------------Article------------------*/






