/*----------------------Footer------------------------*/
.footer{
    height: auto;
    padding: 3px 0 ;
    margin-bottom: 0;
    background: #0B1123 url(../image/footer.png);
}
.footer_container{
    max-width: 2000px;
    margin: 50px;
}


.footer_row{
    display: flex;
    flex-wrap: wrap;
}

.footer_col{
    width: 25%;
    padding: 0 15px;
}

.footer_col h3{
    color: #ffffff;
    margin-bottom:  0.625rem;
    position: relative;
}


.footer_container ul{
    list-style: none;
    line-height: 2;
}

.details ul li {
    text-decoration: none;
    font-weight: 300;
    color:  #bbbbbb;
    display: block;
    transition: all 0.1s ease;
}

.details ul li:hover{
    color: #ffffff;
}

.details ul li i{
    margin-right: 10px;
}
.footer_col ul li a{
    color:  #bbbbbb;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer_col ul li a:hover{
    color: #4644AA;
    letter-spacing: 1px;

}

.footer_col .social_icons a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 20px 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer_col .social_icons a:hover{
    color: #4644AA;
    background-color: #ffffff;
}

.footer_logo{
    width: 200px;

}

.footer_col .footer_newsletter{
    display: flex;
    min-width: 300px;
    flex-wrap: wrap;

}

#footer_email{
    width: 65%;
    height: 40px;
    border-radius: 3px;
    padding-left: 10px;
    margin-right: 0.3em;
}


#footer_submit{
    width: 22%;
    height: 40px;
    border-radius: 3px;
    color: #ffffff;
    background-color: #4644AA;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}
#footer_submit:hover{
    background-color: #ffffff;
    color: #4644AA;
    border:  1px solid #4644AA;
}
.gratitude{
    color: #ffffff;
}

#footer_paragraph{
    margin-top: 30px;
    color: #bbbbbb;
}

#footer-paragraph:hover{
    color: #ffffff;
}

.copyright{
    text-align: center;
    margin-top: 50px;
    padding: 0;
    color: #ffffff;
}

/*--------footer-responsive---------*/
@media screen and (max-width: 1099px) {
    .footer_col{
        width: 50%;
        margin-bottom: 30px;
    }

    .footer_col form{
        width: 100%;
    }

}



@media screen and  (max-width: 610px) {
    .footer_col{
        width: 100%;
        margin-bottom: 30px;
    }

}

@media screen and (max-width: 476px) {
    #footer_email {
        width: 60%;

    }


    #footer_submit {
        width: 25%;
    }
}

/*-----------------Scroll-Up-Stat----------------*/
#Scroll-Up{
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 30;
}
#Scroll-Up-value {
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #4644AA;
}

@media screen and (max-width: 476px) {
    #Scroll-Up{
        height: 50px;
        width: 50px;
    }

    #Scroll-Up-value i{
        font-size: 25px;

    }

}

/*-----------------Scroll-Up-End----------------*/