
/*----------------Main----------------*/


/*---------Graphic-Article--------*/
.graphic_article{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.graphic_article_container{
    width: 1500px;
    max-width: 97%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.graphic_article_text{
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
}

.graphic_article_img img{
    width: 400px;
    height: auto;
    max-width: 100%;
}



@media screen and (max-width: 1024px) {

    .graphic_article {
        height: auto;
    }

    .graphic_article_img img{
        width: 300px;

    }

}
@media screen and (max-width: 600px) {

    .graphic_article_container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
}

/*--------------Graphic-Services---------------*/
.graphic_services{
    margin-bottom: 5em;
}



.graphic_text{
    margin-bottom: 30px;
    text-align: center;

}

.graphic_text h1 {
    position: relative;
    padding-bottom: 20px;
}


.graphic_text h1:after{
    content: "";
    position: absolute;
    left: 25%;
    bottom: 0;
    width: 7%;
    margin-left:21%;
    border: 2px solid #EB2F36;
}

.graphic_services_container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f1f1ff;
    min-height: 100vh;
    color: #4644AA;
}


.graphic_services_wrap{
    position: relative;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px ;
}

.graphic_card{
    position: relative;
    height: 250px;
    background: #FFFFFF;
    display: flex;
    width: 30%;
    margin: 40px 0;
    box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.graphic_card .imgDg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4644AA;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    border-radius: 5px;
}

.graphic_card:hover .imgDg{
    width: 100px;
    height: 100px;
    left: -75px;
    top:  calc(50% - 75px);
    transition: 0.5s ease-in-out;
    background: #EB2F36;
}

.graphic_card .imgDg:before{
    content: attr(data-text);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 4.5em;
    color: rgba(255,255,255,0.05);
    font-weight: 700;
    z-index: -1;
}

.imgDg img{
    max-width: 100px;
    transition: 0.5s ease-in-out;
}

.graphic_card:hover .imgDg img{
    max-width: 75px;
}

.graphic_services_text{
    position: absolute;
    right: 0;
    width: calc(100% - 75px);
    height: 100%;
    padding: 30px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.graphic_services_text h3{
    margin-bottom: 0.5rem;
}

.graphic_services_text p{
    color: #414042;
    display: inline-block;
    padding: 5px;
    line-height: 1.2;

}

@media screen and (max-width: 1180px) {

    .graphic_services_wrap{
        width: 1000px;
        margin: 20px;
    }
    .graphic_card{
        height: 250px;
        width: 45%;
        margin: 40px 0;
        gap: 10px;
    }

}

@media screen and (max-width: 800px) {

    .graphic_services_wrap{
        width: 100%;
        margin: 15px;
        align-items: center;
    }


    .graphic_card{
        height: 250px;
        width: 48%;
        margin: 10px 0;
        gap: 5px;
    }


}

@media screen and (max-width: 760px) {
    .graphic_services_wrap{
        flex-direction: column;
        margin: 10px;

    }

    .graphic_card{
        width: 60%;
    }

}


@media screen and (max-width: 700px) {

        .graphic_card{
        max-width: 40rem;
        flex-direction: column;
        height: auto;
    }

    .graphic_card .imgDg{
        position: relative;
    }

    .graphic_card .imgDg,
    .graphic_card:hover .imgDg{
        width: 100%;
        height: 200px;
        left: 0;
    }

    .graphic_card .imgDg img,
    .graphic_card:hover .imgDg img{

    }

    .graphic_card .graphic_services_text{
        position: relative;
        width: 100%;
    }


}

@media screen and (max-width:497px) {
    .graphic_card{
        width: 80%;
        text-align: center ;
    }
}


/*--------Graphic-Contact---------*/
.graphic_contact{
    max-width: 100vw;
    background-size: cover;
    background: url(../image/Background7.jpg) center;
    padding: 2rem 3%;
    margin-bottom: 5rem;
}

.graphic_contact_container{
    width: 84%;
    margin: 0 auto;
}

.graphic_contact_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

.graphic_contact_content h1{
    color: #FFFFFF;

}

.graphic_contact_content p{
    color: #FFFFFF;
    padding: 1rem 0;

}

.graphic_contact_text a {
    width: 170px;
    height: 40px;
    display: flex;

}

.graphic_contact_img img{
    width: 100%;
}


.graphic_contact_text button{
    background-color: #FFFFFF;
    color:#4644AA;
    border-radius: 6px;
    width: 200px;
    font-size: 20px;
    transition: 0.4s;
    cursor: pointer;
}

.graphic_contact_text button:hover{
    transform: scale(1.1);
    color: #4644AA;
    transition: 0.4s;
    cursor: pointer;
}




@media screen and (max-width: 1024px){


    .graphic_contact_container{
        width: 90%;
    }

    .graphic_contact_content{
        margin: auto;
    }

}

@media screen and (max-width: 700px){

    .graphic_contact{
        padding-bottom: 8rem;
    }

    .graphic_contact_container{
        width: 94%;
    }
    .graphic_contact_content{
        grid-template-columns: 1fr;
        margin-top: 5rem;
        text-align: center;
        gap: 0;
    }

    .graphic_contact_text a {
        margin: 20px auto 0;
    }


}


