

/*---------------Header-----------------*/
#header{
    background: #ffffff;
}
.header_container{
    padding: 0.1px 0;

}


/* -----------------Nav-Section-------------*/
.nav{
    font-weight: bold;
    position: fixed;
    width: 100%;
    z-index: 99;
    transition: 0.5s ease;
}

.nav.sticky{
    background: #FFFFFF;
    box-shadow:  0 0 5px #262626;
    z-index: 99;
}


.nav.sticky .nav_links li a{
    color: #4644AA;
}

.nav.sticky .services_links li a{
    color: #414042;
}

.nav.sticky .services_links li a:hover{
    color: #4644AA;
}

.nav.sticky .nav_bar{
    color: #4644AA;
}

.nav.sticky .nav_links li .nav_contact{
    height: 40px;
    text-decoration: none;

}

.nav.sticky .nav_links li .nav_contact button{
    background-color: #EB2F36;
    color: #FFFFFF;
    font-weight: bold;
    width: 8em;
    height: 3em;
    text-transform: uppercase;
}


.nav .logo{
    padding-left: 50px;
    width: 200px;
}


nav:after{
    content: '';
    clear: both;
    display: table;
}


.nav_links{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;

}

.nav_links li{
    float: left;
    display: inline-block;
    margin: 0 50px;

}


.nav_links li a{
    position: relative;
    color: #FFFFFF;
    line-height: 70px;
    padding-bottom: 8px;
    text-transform: uppercase;
    display: block;
    
}

.nav_links li a:before{
    content: '';
    width: 0;
    height: 5px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #EB2F36;
    position: absolute;
    transition: all 0.4s ease;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

}

.nav_links li a:hover:before{
    width: 100%;

}


.angleDown{
    display: none;
    color:  #4644AA;
    font-size: 30px;
    cursor: pointer;
}


.nav_bar{
    color: #FFFFFF;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}



.services_menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background: #ffffff;
    border-radius: 5px;
    border-top:3px solid #4644AA;
    z-index: 99;
    width: 300px;
}

.nav_links li:hover .services_menu{
    opacity: 1;
    visibility: visible;
}

.services_links li{
    position: relative;
    margin: 0;
    float: none;
    display: list-item;
    transition: 0.3s ease;
    cursor: pointer;
}

.services_links li:hover{
    padding-left: 8px;
}

.services_links li:before{
    content: '';
    width: 4px;
    height: 0;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: #4644AA;
    position: absolute;
    transition: all 0.5s ease;

}

.services_links li:hover:before{
    height: 40px;
}

.services_links li a {
    text-transform: capitalize;
    color: #414042;
    padding-left: 15px;
}

.services_links li a:before{
    background: none;
}

.services_links li a:hover{
    color: #4644AA;
}

.nav_links li .nav_contact{
    height: 40px;
    text-decoration: none;

}



.nav_contact button{
    background-color: #EB2F36;
    color: #FFFFFF;
    font-weight: bold;
    width: 8em;
    height: 3em;
    text-transform: uppercase;
}

.nav_contact:before{
    display: none;
}



@media (max-width: 1090px) {
    .nav .logo{
        font-size: 32px;
        padding-left: 60px;
    }


    .nav_links {
        margin-right: 20px;
        color: #4644AA;
    }



}

@media screen and (max-width: 1024px) {
    .nav_bar{
        display: block;
    }

    .nav_links{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 60px;
        left:-100%;
        background-color: white;
    }

    .nav_links.active{
        left: 0;
        z-index: 1;
        height: 300px;
    }


    .nav_links li {
        display: block;
        float: none;
        margin: 0;
        line-height: 30px;

    }

    .nav_links li a{
        font-size: 20px;
        color: #4644AA;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .service_error{
        padding-right: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav_links li a:hover:before{
        display: none;
    }

    .nav_contact button{
        background-color: #EB2F36;
        color: #FFFFFF;
        font-weight: bold;
        width: 8em;
        height: 3em;
        text-transform: uppercase;

    }


    .angleDown{
        display: block;
    }

    .services_menu{
        border:none;
    }


    .services_links{
        position: fixed;
        width: 100%;
        height: 100vh;
        left:-100%;
        background-color: white;
    }

    .services_links li{
        margin: 0;
        width: 100%;
        float: none;
        transition: 0.3s ease;
    }

    .services_links li a{
        color: #414042;
    }

    .services_links li a:hover{
        color: #4644AA;
        border:none;
        box-shadow: none;
    }


    .services_links.active{
        left: 0;
        height: 330px;
    }




}

@media screen and (max-width: 600px) {
    .nav .logo {
        padding-left: 15px;
    }


}
/*------Header-End-----------*/


/*----Image-Header-------------*/

.hero_header {
    width: 100%;
    height: 95vh;
    position: relative;
    margin-bottom: 10em;
}


.hero_header_img{
    position: absolute;
    inset: 0 0 0 0;

}

.hero_header img{
    width: 100%;
    object-fit: cover;


}


@media screen and (max-width: 1024px){
    .hero_header {
        height: auto;

    }

}




/*----------------------Footer------------------------*/
.footer{
    height: auto;
    padding: 3px 0 ;
    margin-bottom: 0;
    background: #0B1123 url("../image/footer.png");
}
.footer_container{
    max-width: 2000px;
    margin: 50px;
}


.footer_row{
    display: flex;
    flex-wrap: wrap;
}

.footer_col{
    width: 25%;
    padding: 0 15px;
}

.footer_col h5{
    color: #ffffff;
    margin-bottom:  0.625rem;
    position: relative;
}


.footer_container ul{
    list-style: none;
    line-height: 2;
}

.details ul li {
    text-decoration: none;
    font-weight: 300;
    color:  #bbbbbb;
    display: block;
    transition: all 0.1s ease;
}

.details ul li:hover{
    color: #4644AA;
}

.details ul li i{
    margin-right: 10px;
}
.footer_col ul li a{
    color:  #bbbbbb;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer_col ul li a:hover{
    color: #4644AA;
    letter-spacing: 1px;

}

.footer_col .social_icons a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 20px 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer_col .social_icons a:hover{
    color: #4644AA;
    background-color: #ffffff;
}

.footer_logo{
    width: 200px;

}

.footer_col .footer_newsletter{
    display: flex;
    min-width: 300px;
    flex-wrap: wrap;

}

#footer_email{
    width: 65%;
    height: 40px;
    border-radius: 3px;
    padding-left: 10px;
    margin-right: 0.3em;
}


#footer_submit{
    width: 22%;
    height: 40px;
    border-radius: 3px;
    color: #ffffff;
    background-color: #4644AA;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}
#footer_submit:hover{
    background-color: #EB2F36;
    color: #FFFFFF;
    border:  1px solid #EB2F36;
}
.gratitude{
    color: #ffffff;
}

#footer_paragraph{
    margin-top: 30px;
    color: #bbbbbb;
}

#footer-paragraph:hover{
    color: #ffffff;
}

.copyright{
    text-align: center;
    margin-top: 50px;
    padding: 0;
    color: #ffffff;
}

/*--------footer-responsive---------*/
@media screen and (max-width: 1099px) {
    .footer_col{
        width: 50%;
        margin-bottom: 30px;
    }

    .footer_col form{
        width: 100%;
    }

}



@media screen and  (max-width: 610px) {
    .footer_col{
        width: 100%;
        margin-bottom: 30px;
    }

}

@media screen and (max-width: 476px) {
    #footer_email {
        width: 60%;

    }


    #footer_submit {
        width: 25%;
    }
}

/*-----------------Scroll-Up-Stat----------------*/
#Scroll-Up{
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 30;
}
#Scroll-Up-value {
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #4644AA;
}

@media screen and (max-width: 476px) {
    #Scroll-Up{
        height: 50px;
        width: 50px;
    }

    #Scroll-Up-value i{
        font-size: 25px;

    }

}

/*-----------------Scroll-Up-End----------------*/