*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;

}


body {
    background: #fdfdfdff;
    color:  #414042;
    font-size: 1rem;
    letter-spacing: normal;
}

h1{
    font-size: 3rem;
    margin-bottom: 1.875rem;
    color: #4644AA;
    font-weight: bold;

}

h2{
    color: #4644AA;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
}

h3{
    font-size: 1.2rem;
    color: #4644AA;
}

p {
    line-height: 1.5;
    margin-bottom: 30px;
}


/*-------------Main--------------*/
/*----Image-Header-------------*/

.hero_header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_header img{
    width: 100%;
    object-fit: cover;
}


/*---------Mobile-Article--------*/
.mobile_article{
    max-width: 100vw;
    margin-bottom: 5em;

}

.mobile_article_container{
    width: 84%;
    margin: 0 auto;
}

.mobile_article_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    align-items: center;
}

.mobile_article_img img{
    width: 100%;
}


@media screen and (max-width: 1024px) {

    .mobile_article_container {
        width: 90%;
    }

    .mobile_article_content{
        margin: auto;

    }

}

@media screen and (max-width: 700px) {

    .mobile_article_container{
        width: 94%;
    }

    .mobile_article_content{
        grid-template-columns: 1fr;
        margin-bottom: 2rem;
        text-align: center;
        gap: 0;
    }

    .mobile_article_content:nth-child(1) .mobile_article_img{
        grid-row: 1;
    }

}


/*--------Platforms---------*/
.platforms{
    margin-bottom: 5em;
    width: 100%;

}

.platforms h1{
    text-align: center;
    position: relative;
    padding-bottom: 10px;
}

.platforms h1:after{
    content: "";
    position: absolute;
    left: 25%;
    bottom: 0;
    width: 7%;
    margin-left:21%;
    border: 2px solid #414042;
}


.platforms p{
    text-align: center;
}

.platform_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90vh;
    background: linear-gradient(#4644AA, #4644AA 50%, #FFFFFF 50%, #FFFFFF 100%);
    flex-wrap: wrap;
    padding: 0 50px;
}

.platform_card{
    position: relative;
    width: 320px;
    background: #FFFFFF;
    padding: 20px 15px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.platform_icon{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: -90px auto 0;
    background: #FFFFFF;
    border: 18px solid #4644AA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.platform_card:hover .platform_icon i{
    transform: rotate(360deg);

}

.platform_card i{
    font-size: 40px;
    color: #4644AA;
    transition: transform 1s;
}

.platform_card h3{
    height: 35px;
    width: 80%;
    margin: 0.625rem auto .625rem;
    position: relative;
    text-align: center;
    align-items: center;
}

@media screen and (max-width: 1423px){

    .platform_container{
        background: #4644AA;
        gap: 100px;
        padding: 100px 180px;
    }

}


@media screen and (max-width: 1191px){

    .platform_container{
        background: #4644AA;
        gap: 100px;
        padding: 100px 100px;
    }



}


@media screen and (max-width: 960px){

    .platform_container{
        background: #4644AA;
        gap: 50px;
        padding: 100px 50px;
    }

    .platform_card{
        margin-bottom: 2rem;
    }

}

@media screen and (max-width: 810px){

    .platform_container{
        background: #4644AA;
        gap: 20px;
        padding: 100px 20px;

    }

    .platform_card{
        margin-bottom: 4rem;
    }
}

@media screen and (max-width: 720px){

    .platform_container{
        display: grid;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }

    .platform_card{
        margin: 4rem auto 0;
    }

}

/*------Mobile-Tech-Slider----*/
.mobile_tech{
    text-align: center;
    margin-bottom: 5em;
}

.mobile_tech_text{
    margin-bottom: 30px;
}

.mobile_tech_text h1 {
    position: relative;
    padding-bottom: 10px;
}

.mobile_tech_text h1:after{
    content: "";
    position: absolute;
    left: 25%;
    bottom: 0;
    width: 7%;
    margin-left:21%;
    border: 2px solid #414042;
}

.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus{
    outline: none;
}

.slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    margin: 0 20px;
}

.slick-slide img{
    display: block;
    width: 100%;
}

.slick-initialized .slick-slide{
    display: block;
}

.slick-loading .slick-slide{
    visibility: hidden;
}

/*--------Mobile-Contact---------*/
.mobile_contact{
    max-width: 100vw;
    background-size: cover;
    background: url("../image/Background7.jpg") center;
    padding: 2rem 3%;
    margin-bottom: 5rem;
}

.mobile_contact_container{
    width: 84%;
    margin: 0 auto;
}

.mobile_contact_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

.mobile_contact_content h1{
    color: #FFFFFF;
}

.mobile_contact_content p{
    color: #FFFFFF;
    padding: 1rem 0;
}

.mobile_contact_text a {
    width: 170px;
    height: 40px;
    display: flex;
}

.mobile_contact_img img{
    width: 100%;
}


.mobile_contact_text button{
    background-color: #FFFFFF;
    color:#4644AA;
    border-radius: 6px;
    width: 200px;
    font-size: 20px;
    transition: 0.4s;
    cursor: pointer;

}

.mobile_contact_text button:hover{
    transform: scale(1.1);
    color: #4644AA;
    transition: 0.4s;
    cursor: pointer;
}




@media screen and (max-width: 1024px){


    .mobile_contact_container{
        width: 90%;
    }

    .mobile_contact_content{
        margin: auto;
    }

}

@media screen and (max-width: 700px){

    .mobile_contact{
        padding-bottom: 8rem;
    }

    .mobile_contact_container{
        width: 94%;
    }
    .mobile_contact_content{
        grid-template-columns: 1fr;
        margin-top: 5rem;
        text-align: center;
        gap: 0;
    }

    .mobile_contact_text a {
        margin: 20px auto 0;
    }
}
