*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;

}


body {
    background: #fdfdfdff;
    color:  #414042;
    font-size: 1rem;
    letter-spacing: normal;
}

h1{
    font-size: 3rem;
    text-transform: capitalize;
    margin-bottom: 1.875rem;
    color: #4644AA;
    font-weight: bold;

}

h2{
    color: #4644AA;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 1.25rem;
}

h3{
    text-transform: capitalize;
    font-size: 1.2rem;
    color: #4644AA;
}

p {
    line-height: 1.5;
    margin-bottom: 30px;
}

/*----------------Main----------------*/


/*----Hero-Header-------------*/

.hero_header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_header img{
    width: 100%;
    object-fit: cover;
}

/*---------------RPA-Article----------------*/
.rpa_article{
    width: 100%;
    margin: 5em 0;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;


}

.rpa_article .rpa_article_container{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.rpa_article_container .rpa_article_text {
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
}



@media screen and (max-width: 1380px) {

    .rpa_article {
        width: 100%;
        height: auto;
        padding: 70px 0;

    }

    .rpa_article_container img{
        margin-bottom: 20px;

    }

}
    @media screen and (max-width: 1230px) {

        .rpa_article_container {
            flex-direction: column-reverse;
        }

        .rpa_article {
            width: 100%;
            height: auto;

        }


    }

    @media screen and (max-width: 650px) {
        .rpa_article .rpa_article_container img{
            width: 450px;

        }


    }

    @media screen and (max-width: 550px) {
        .rpa_article .rpa_article_container img{
            width: 350px;

        }



    }
/*-------------Benefits------*/
.benefits_section{
    margin:  5rem 0;
    width: 100%;
    padding: 0 8%;
}


.benefits_section_text{
    text-align: center;
}

.benefits_section_text h1{
    padding-bottom: 10px;
    position: relative;


}
.benefits_section_text h1:after{
    content: "";
    position: absolute;
    left: 25%;
    bottom: 0;
    width: 7%;
    margin-left:21%;
    border: 2px solid #414042;
}


.Grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 100px;
}

.rpa_benefits{
    text-align: center;
    padding: 25px 10px;
    background: transparent;
    cursor: pointer;
    transition: 0.2s ease;

}

.rpa_benefits:hover{
    box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border-bottom: solid 10px #4644AA;
}

.rpa_benefits i{
    font-size: 40px;
    margin-bottom: 10px;
    color: #4644AA;
}

.rpa_benefits h3{
    margin-bottom: 0.625rem;
}

@media screen and (max-width: 1380px) {

    .benefits_section {
        width: 100%;
        height: auto;
    }


}

@media screen and (max-width: 420px) {
    .rpa_benefits{
        box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        border-bottom: solid 10px #4644AA;
    }
}


/*--------RPA-Contact-US--------*/
.rpa_contact{
    max-width: 100vw;
    background-size: cover;
    background: url("../image/Background7.jpg") center;
    padding: 2rem 3%;
    margin-bottom: 5rem ;
}

.rpa_contact_container{
    width: 84%;
    margin: 0 auto;
}

.rpa_contact_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

.rpa_contact_content h1{
    color: #FFFFFF;
}

.rpa_contact_content p{
    color: #FFFFFF;
    padding: 1rem 0;
}

.rpa_contact_text a {
    width: 170px;
    height: 40px;
    display: flex;

}

.rpa_contact_img img{
    width: 100%;
}


.rpa_contact_text button{
    background-color: #FFFFFF;
    color:#4644AA;
    border-radius: 6px;
    width: 200px;
    font-size: 20px;
    transition: 0.4s;
    cursor: pointer;
}

.rpa_contact_text button:hover{
    transform: scale(1.1);
    color: #4644AA;
    transition: 0.4s;
    cursor: pointer;
}




@media screen and (max-width: 1024px){


    .rpa_contact_container{
        width: 90%;
    }

    .rpa_contact_content{
        margin: auto;
    }

}

@media screen and (max-width: 700px){

    .rpa_contact{
        padding-bottom: 8rem;
    }

    .rpa_contact_container{
        width: 94%;
    }
    .rpa_contact_content{
        grid-template-columns: 1fr;
        margin-top: 5rem;
        text-align: center;
        gap: 0;
    }

    .rpa_contact_text a {
        margin: 20px auto 0;
    }


}

