/*----------------Main----------------*/


/*------------service page-------*/
.service{
    padding: 30px 20px;
    background-color: #fdfdfdff;
    margin-top: 15em;
}

.service h1{
    text-align: center;
    position: relative;
    padding-bottom: 10px;
}

.service h1:after{
    content: "";
    position: absolute;
    left: 25%;
    bottom: 0;
    width: 7%;
    margin-left:21%;
    border: 2px solid #EB2F36;
}

.service_container{
    padding: 0 1em;
}



.service_container .service_content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.service_content .card{
    background: #ffffff;
    color: #4644AA;
    padding: 15px;
    border-radius: 10px;
    border-bottom: 7px solid #4644AA;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.15);
    text-align: center;
}


.service_content .card:hover{
    background: #4644AA;
    transform: translateY(-10px);
    color: var(--neu-color);

}


.service_content div:hover h3{
    color: var(--neu-color);
}

 .service_content p{
    display: none;
}

.service_content div:hover p{
    display: contents;
    color: #ffffff;
}

.service_content div:hover .icon, .service_content div:hover h3{
   display: none;
}



.service_content div .fa-laptop-code, .service_content div .fa-robot,
.service_content div .fa-mobile, .service_content div .fa-palette{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;

}

.service_content .card .icon{
    background-color: #4644AA;
    margin: auto;
    font-size: 2.5em;
    height: 2.7em;
    width: 2.7em;
    border-radius: 50%;
    display: grid;
    place-items: center;
}


.service_content .icon i{
    color: #FFFFFF;
}

.service_content .card h3{
    margin: 15px 15px 3rem;
}


.service_content .card  a{
    display: none;
}


.service_content div:hover a{
    background-color: #FFFFFF;
    color: #4644AA;
    border-radius: 6px;
    height: 2em;
    width: 8em;
    display: flex;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
}



.service_content  .fa-up-right-from-square{
    font-size: 10px;
    margin-left: 10px;
}

.service_content  div:hover .fa-up-right-from-square{
    color: #4644AA;
}
/* Media Query for Two Columns and Two Rows Layout */
@media screen and (max-width: 1024px) {
    .service_content {
        grid-template-columns: 1fr 1fr; /* Two columns */
        grid-template-rows: auto auto; /* Two rows */
        grid-gap: 40px; /* Gap between the cards */
    }

    .service_content .card {
        grid-column: span 1; /* Ensure each card spans 1 column */
        grid-row: span 1; /* Ensure each card spans 1 row */
    }
}



