*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;

}


body {
    background: #fdfdfdff;
    color:  #414042;
    font-size: 16px;
    letter-spacing: normal;
}

h1{
    font-size: 2.5rem;
    margin-bottom: 1.875rem;
    color: #4644AA;
    font-weight: bold;

}

h2{
    color: #4644AA;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
}

h3{
    font-size: 1.5rem;
    color: #4644AA;
}

h4{
    font-size: 1.2rem;
    color: #4644AA;
}

p {
    line-height: 1.5;
    margin-bottom: 30px;
}

button{
    background-color: #EB2F36;
    color: #ffffff;
    border: 2px solid transparent;
    border-radius: 6px;
    width: 200px;
    cursor: pointer;
    transition: 0.4s;
    font-size: 1rem;
}

@media screen and (max-width: 1024px){
    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 1.5rem;
    }

    h3{
        font-size: 1.2rem;
    }

    h4{
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px) {
    h1{
        font-size: 1.5rem;
    }

    h2{
        font-size: 1.2rem;
    }

    h3{
        font-size: 1rem;
    }

    h4{
        font-size: 0.8rem;
    }
}




/*----------------Main----------------*/

/*----Image-Header-------------*/

.hero_header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.hero_header img{
    width: 100%;
    object-fit: cover;
}


/*---------Webpage-Article--------*/
.webpage_article{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;

}

.webpage_article_container{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.webpage_article_text{
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
}

.webpage_article_img img{
    width: 400px;
    height: auto;
    max-width: 100%;
}


@media screen and (max-width: 1024px) {

    .webpage_article{
        height: auto;
    }

    .webpage_article_img img{
        width: 300px;
    }

 }

@media screen and (max-width: 600px) {

    .webpage_article_container{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        }

}




/*----------------Web-Services-------------------*/
.web_service{
    max-width: 100vw;
    margin-bottom: 2em;
}

.web_service h1{
    text-align: center;
    position: relative;
    padding-bottom: 10px;
}

.web_service h1:after{
    content: "";
    position: absolute;
    left: 25%;
    bottom: 0;
    width: 7%;
    margin-left:21%;
    border: 2px solid #EB2F36;
}

.web_service_container{
    width: 98%;
    margin: 0 auto;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    justify-content: center;
    align-items: center ;
}

.web_service_content{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.15);
    padding: 1em;
}


.web_service_icon{
    margin: 1em;
    background-color: #4644AA;
    height: 6em;
    width: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1.5em;
}
.web_service_icon i{
    font-size: 3rem;
    color: #FFFFFF;
}

.web_service_content:nth-child(1),
.web_service_content:nth-child(3),
.web_service_content:nth-child(5),
.web_service_content:nth-child(7) {
  flex-direction: row-reverse;
    text-align: right;
}

.web_service_content:hover .web_service_icon{
    background-color: #EB2F36;
    transition: 0.5s;
}

.web_service_content:hover .web_service_icon i{
    color: #FFFFFF;
    transition: 0.5s ease;
}



@media screen and (max-width: 1024px){

    .web_service_icon{
        height: 5em;
        width: 7em;
        padding: 0.5em 1.5em;
    }
    .web_service_icon i{
        font-size: 3rem;
        color: #FFFFFF;
    }
}

@media screen and (max-width: 600px){
    .web_service_container{
        width: 96%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center ;
        text-align: center;
    }

    .web_service_content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .web_service_content:nth-child(1),
    .web_service_content:nth-child(3),
    .web_service_content:nth-child(5),
    .web_service_content:nth-child(7) {

        text-align: center;
    }

}

/*------Web-Tech-Slider----*/
.web_tech{
    text-align: center;
    margin-bottom: 2em;
}

.web_tech_text{
    margin-bottom: 30px;
}

.web_tech_text h1 {
    position: relative;
    padding-bottom: 10px;
}

.web_tech_text h1:after{
    content: "";
    position: absolute;
    left: 25%;
    bottom: 0;
    width: 7%;
    margin-left:21%;
    border: 2px solid #EB2F36;
}

.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus{
    outline: none;
}

.slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    margin: 0 20px;
}

.slick-slide img{
    display: block;
    width: 40%;
}

.slick-initialized .slick-slide{
    display: block;
}

.slick-loading .slick-slide{
    visibility: hidden;
}



/*--------------------Webpage-Contact--------*/
.webpage_contact{
    max-width: 100vw;
    background-size: cover;
    background: url("../image/Background7.jpg") center;
    padding: 2rem 3%;
    margin-bottom: 2rem;
}

.webpage_contact_container{
    width: 84%;
    margin: 0 auto;
}

.webpage_contact_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

.webpage_contact_content h1{
    color: #FFFFFF;
}


.webpage_contact_content p{
    color: #FFFFFF;
    padding: 1rem 0;
}

.webpage_contact_text a {
    width: 170px;
    height: 40px;
    display: flex;
}

.webpage_contact_img img{
    width: 100%;
}


.webpage_contact_text button{
    background-color: #FFFFFF;
    color:#4644AA;
    border-radius: 6px;
    width: 200px;
    font-size: 20px;
    transition: 0.4s;
    cursor: pointer;
}

.webpage_contact_text button:hover{
    transform: scale(1.1);
    color: #4644AA;
    transition: 0.4s;
    cursor: pointer;
}




@media screen and (max-width: 1024px){


    .webpage_contact_container{
        width: 90%;
    }

    .webpage_contact_content{
        margin: auto;
    }

}

@media screen and (max-width: 700px){

    .webpage_contact{
        padding-bottom: 8rem;
    }

    .webpage_contact_container{
        width: 94%;
    }
    .webpage_contact_content{
        grid-template-columns: 1fr;
        margin-top: 2rem;
        text-align: center;
        gap: 0;

    }

    .webpage_contact_text a {
        margin: 20px auto 0;
    }



}

